/* here you can put your own css to customize and override the theme */
html, body{
    background-color:white;
 
    
}

@media screen and (min-width: 0px){
    #navListLink{
        text-decoration:none;
        color:#3a4348;
        font-size: 16px;
        font-weight: 600;
        
    }
    #sign_out{
        display:none
    }
    #directPort{background:#0071bc;color:white;margin-left:10px;float:right;display:none}
    #portfolio{background:#0071bc;color:white;margin-left:10px;float:right;display:none}
    
    #tokenPicker{
        margin-top:10px
    }
    
    #portfolioTitle{
         margin-top:25px;
        font-size:50px;
         font-family: 'Muli', sans-serif;
    }
    .loginFlowButton{
        margin-top:15px
    }
  
    #single-append-text option{
        color:red
    }
    .modalSpace{
     margin-top:30%;
    color:#662d91;
     
    }

    .loginFlow .pass{
        margin-left:0px;
        text-align:center;
   
    }
    .loginFlow .user{
        text-align:center
    }
    
    ol li{
        padding:10px;
    }
    #sponsor{
        display:none;
    }
    
    .blogImage{
        margin-top:10px;
        height:auto;
        width:100%;
            margin-bottom:10px;
        
    }
    #jackie{
        margin-top:10px;
        height:auto;
        width:auto;
        position:relative;
        margin-bottom:10px;
    }
    
    .imageCaption{
        display:block;
        padding:0px;
        text-align:center;
        font-size:12px;
        color:grey;
       
    }
    
    #blog{
        display:none;
    }
    
    .boldText{
        font-weight:900;
        color:black;
    }
    
    .blogBody{
        color:rgba(0,0,0,.8);
        font-family: 'Roboto', sans-serif;
        line-height:1.875;
        letter-spacing: -.003m;
        
    }
    
    .blogBody p{
        font-size:18px;
        padding:7px;
    }
      .blogBody ul li{
        font-size:18px;
        padding:7px;
    }
    .blogBody h2{
        margin-top:30px;
        padding:7px;
        font-size:30px;
        font-weight:bold;
        
    }
    #date{
        margin-top:10px;
        font-size:16px;
        color:#d0d5dc;
    }
    
    .cardBG{
     margin-left:-15px;
        height:100%;
        width:100%;
        background-size:cover;
        position:absolute;
        display:block;
        opacity:0;
      
    
      
    }
    #gamblingBanner{
        
        background-image: url('../img/gambling.png');

        
       
    }
    .gamblingTitle{
        position:absolute;
    }
    .gamblingSubTitle{
     
        position:sticky;
        margin-top:180px;
    }


    
    
    #blogIntro{
   
        background-image:url("../img/banner.png");
        height:150px;
        margin-left:-30px;
         margin-right:-30px;
        margin-top:-10px;
        text-align:center;
        position:relative;
        color:white

        
    }
    #blogIntro h1{
        z-index:1;
        margin-top:50px;
         font-family: 'Muli', sans-serif;
    }
    .blogCard{
        margin-top:-10px;
        color:#662D91;
        text-align:center;
        display:relative;
        height:300px;
        line-height:1.5;
        border-bottom:solid #662D91 1px;
    
        
    }
    .blogCard h1{
       z-index:2;
        width:100%;
        margin-top:120px;
        font-family: 'Muli', sans-serif;
        font-size:28px;
        display:block;
        padding-right:1em;
        padding-left:1em;
    }
    
    .blogCard h2{

      z-index:2;
        color:#d0d5dc;
         font-family: 'Muli', sans-serif;
        font-size:18px;
    }

    
    #email_btn{
        margin-top:10px;
    }
    #tableButtons{
        display:none
    }
    

    #email2{
        display:none
    }
    #email_btn2{
        display:none
    }
    #email_btn3{
        display:none
    }
    #portfolio{
        display:none
    }
    #emailIcon2{
        display:none
    }
    #token{
        display:none
    }
    #advanced{
        display:none
    }
    #upcoming{
        display:none
    }
     .tab{
        display:none
    }
    #analytics{
        display:none
    }
     #neo{
        display:none
    }
    #featured{
        display:none
    }
/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
        border:solid;
        border-width:1px;
        border-color:#ecf0f1;
        border-radius:3px;
        border-bottom:none;
        
        
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#ecf0f1;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#bdc3c7;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:0px 0px 3px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

    
}



@media screen and (min-width: 568px){
  
     #sponsor{
        display:inline;
    }
    #email2{
        display:none
    }
    #email_btn2{
        display:none
    }
    #emailIcon2{
        display:none
    }
        #token{
        display:none
    }
    #advanced{
        display:none
    }
    #upcoming{
        display:none
    }
    .tab{
        display:none
    }
    
    
    
}





@media screen and (min-width: 768px) {
    
     .loginFlowButton{
        margin-top:0px
    }
    
    .modalSpace{
     margin-top:20%;
    color:#662d91;
     
    }
    .loginFlow .pass{
        margin-left:10px
    }
    #email_btn{
        margin-top:0px;
    }
    #portfolio{
        display:inline
    }
    #sign_out{
        display:inline
    }

     #email2{
        display:inline
    }
    #email_btn2{
        display:inline
    }
    #email_btn3{
        display:inline
    }
    #featured{
        display:inline
    }
    #emailIcon2{
        display:inline
    }
        #token{
        display:inline
    }
    #advanced{
        display:inline
    }
    #upcoming{
        display:inline
    }
    #blog{
        display:inline
    }
     #neo{
        display:inline
    }
    #analytics{
        display:inline
    }
     .tab{
        display:inline
    }
    #directPort{background:#0071bc;color:white;margin-left:10px;float:right;display:inline}
    #portfolio{background:#0071bc;color:white;margin-left:10px;float:right;display:inline}
    
    
    
}

@media screen and (min-width: 992px) {
 #tableButtons{
        display:inline
    }
    
}

@media screen and (min-width: 1200px) {
  
}
