

<!DOCTYPE html>


<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Token Data</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
       
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout7/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.css" rel="stylesheet" type="text/css" />
        
        
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="../favicon.ico" /> 
        <style>
            .dataTables_info{
                display:none;
            }
            tr:{
                border:none;
            }
            .widget-socials {
                min-height: 100px;
            }
            .table{
                font-size:!important 10px;
            }
            .form-control {
                color:!important #ecf0f1;
            }
            #sample_1_length{
               
            }
            .pagination:hover{
                color:!important red
            }
            
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background:none;
                border:none;
            }
            .tokenRet{
                color:red
            }
            #advanced:hover{
                color:red
            }
       

      
        </style>
       
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101906654-1', 'auto');
          ga('send', 'pageview');
            ga('set', 'userId', {{USER_ID}});
        

    </script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9173598781940396",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("a6a89e1d-1927-467b-b4bb-805b86146348");
</script>
        <script type="text/javascript">
window.JacoRecorder.identify(userID, function callback(err){});
</script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("71939c2e8ef99a61e866ad9f029926ae");</script><!-- end Mixpanel -->
                	
<script type="text/javascript"> _linkedin_data_partner_id = "78812"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=78812&fmt=gif" /> </noscript>
    </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid" >
        
  <!--  <div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:40px;z-index:1030;text-align:center;margin-left:0px;">
            
            
 
            
            <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 clearfix" style ="margin-top:5px;width:auto;">
                 
        
               

                <a target="_blank" href ="https://www.etherparty.io/ico/" style ="padding:1px;color:white;font-size:11px;text-decoration:none;">
                <span style ="color:#d0d5dc">Featured </span>
                    
                <img src = '../ep2.png' style ="width:auto;height:31px;padding:1px;margin-top:-1px;margin-right:5px"> 
                    <span style ="width:auto;margin-top:0px;margin-left:-14px"><span style ="font-size:14px;font-weight:bold;">ETHERPARTY</span>&nbsp |&nbsp Create a Smart Contract in minutes rather than months. Join the Fuel ICO now!</span></a>
                   
             
                   
                   </div>
            
            
        </div>-->
        <!-- BEGIN HEADER -->
        <!--<div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:30px;z-index:1030;text-align:center;margin-left:0px">
            <div class ="col-md-offset-4 col-md-4" style ="margin-top:5px"><a target="_blank" href ="https://medium.com/blockchannel/introducing-tokendata-io-dcd26d9fbc1e" style ="padding:1px;color:white;font-size:12px">We've launched! Check out our weekly update here. </a></div>
        </div>-->
        <div class="page-header navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="clearfix">
                <!-- BEGIN BURGER TRIGGER -->
                <div class="burger-trigger">
                    <button class="menu-trigger">
                        <img src="../assets/layouts/layout7/img/m_toggler.png" alt=""> </button>
                    <div class="menu-overlay menu-overlay-bg-transparent">
                        <div class="menu-overlay-content">
                            <ul class="menu-overlay-nav text-uppercase">
                                <li>
                                    <a href="/">Token Sales</a>
                                </li>
                                <li>
                                    <a href="/advanced">Advanced Returns</a>
                                </li>
                                <li>
                                    <a href="/upcoming">Upcoming ICOs</a>
                                </li>
                                 <li>
                                    <a href="https://t.me/tokendata">Telegram Channel
                                        </a>
                                </li>
                                <li>
                                    <a href="/blog">Blog
                                        </a>
                                </li>
                                
                                <li>
                              {{{navList}}}
                          </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="menu-bg-overlay">
                        <button class="menu-close">&times;</button>
                    </div>
                    <!-- the overlay element -->
                </div>
                <!-- END NAV TRIGGER -->
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="">
                        <img src="../token_data.png" alt="logo" class="logo-default" style ="width:auto;height:45px"/> 
                        
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                    <div class="top-menu">
                            <ul class="nav navbar-nav pull-right" style = "margin-top:23px;margin-right:20px">
                                <!-- BEGIN NOTIFICATION DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li>
                                <div class="form-inline margin-bottom-40" role="form" id ="emailSign2">
                                                <div class="form-group form-md-line-input ">
                                                    <div class="input-icon">
                                                        <input type="email" class="form-control" placeholder="Email" id = "email2">
                                                       <div class="form-control-focus" style ="color:red"> </div>

                                                        <i class="fa fa-envelope-o" id="emailIcon2"></i>
                                                    </div>
                                                </div>

                                                 <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn2">


                                </div>

                                         </li>
                                <li>
                                 <span class="help-block" style ="display:none;float:left" id="joined2">Thanks for joining!</span>
                                      {{{portfolio}}}
                                </li>
                
                            </ul>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container page-content-inner page-container-bg-solid">

            <!-- BEGIN CONTENT -->
            <div class="container-fluid container-lf-space margin-top-30">
         

                    <div class="row widget-row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            
                            <div class="portlet light portlet-fit">
                                     <div class="portlet-title">
                                    <div class="caption">
                                        
                                        
                                        <a href ="/" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;font-size:16px" id ="token">Token Sales</span>

                                        </a>
                                        
                                        
                                        
                                        <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        <a href ="/advanced" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="advanced">Advanced Returns</span>
                                        </a>
                                        
                                        
                                        
                                         <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                       
                                             
                                              <a href ="/upcoming" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="upcoming">ICO Calendar</span>
                                        </a>
                                        
                                          <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        
                                        
                                    <a href ="/analytics" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="analytics">Analytics</span>
                                    </a>
                                          
                                        
                                    </div>
                                    <div class="actions">
                                        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <button id = "completed" type="button" class="btn btn-success">Completed</button>
                                            <button id ="active" type="button" class="btn btn-primary">Active</button>
                                            <button id ="planned" type="button" class="btn btn-info">Planned</button>
                                            <button id = "all" type="button" class="btn btn-danger">All</button>
                                          
                                        </div>-->
                                    </div>
                                </div>
                               <div class ="row" id = "blogIntro">
                                   <div class = "col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                         <h1>The MITation game  —  Q&A with Enigma</h1>
                                       
                                   </div>
                               
                                   
                                </div>
                                <div class="portlet-body blogBody">
                                    
                                    <div class ="row">

                                        <div class = "col-md-offset-3 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12">
                                            <p id ="date">Monday, August 28th, 2017
                                            </p>
                                            
                                            <h2>Intro</h2>
                                    
                                            
                                            <p style ="">
                                                <span class ="boldText">Who?:</span>
                                                <a href ="https://www.enigma.co/" target ="_blank"> Enigma (https://www.enigma.co/)</a></p>
                                            
                                            <p style ="">
                                                <span class ="boldText">What?:</span>
                                                Decentralized data marketplace (Enigma) and platform to create cryptocurrency trading strategies (Enigma Catalyst)</p>
                                            
                                            <p style ="">
                                                <span class ="boldText">Where?:</span>
                                                <a href ="https://token.enigma.co/" target ="_blank"> https://token.enigma.co/</a></p>
                                            
                                            <p style ="">
                                                <span class ="boldText">When?:</span>
                                                September 11th, 2017</p>
                                            
                                            <p style ="">
                                                <span class ="boldText">Why interview? (Official reason):</span>
                                                Because at TokenData.io we’re as obsessed with data and analytics as the Enigma team, and because the team has been transparent about how it handled a security breach.</p>
                                            
                                            <p style ="">
                                                <span class ="boldText">Why interview? (Unofficial reason):</span>
                                                Because all members of TokenData applied for MIT but were denied admission…</p>
                                            
                                            <h2>Part 1: The full Enigma download</h2>
                                            
                                          
                                            
                                            <p class ="boldText">Q: What are Enigma and Enigma Catalyst?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> Enigma is building a decentralized, open, secure data marketplace using ENG, our native token. Right now the long tail of data is not being effectively captured by major data aggregators. Meanwhile other data is being hoarded and exploited by large corporations. We want to change how data is shared, aggregated and monetized in a way that maximizes collaboration. </p>
                                            
                                            <p>Catalyst is Enigma’s first product built on top of this marketplace. Catalyst matches financial data consumers (quantitative traders and investors) who want to create smarter crypto investment strategies with financial data curators who license their data to the Catalyst community. The platform also provides backtesting and research tools for traders to create strategies, greatly reducing the typical time and expense of strategy creation.</p>
                                            
                                            
                                            <p class ="boldText">Q: Rumors are that Enigma is run by a group of MIT wunderkinds who could make <a href ="http://www.imdb.com/title/tt0119217/" target ="_blank">Will Hunting’s</a> math look like a 5-year old’s table-scratch. Can you shed some light on the history of your team?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> Our team has all studied at MIT. We are entrepreneurs with years of experience in the fields of finance, data science, technology, trading, and FinTech. Our co-founders are Guy Zyskind and Can Kisagun, who met at MIT. </p>
                                            
                                            <p style="" > Our advisors include Prof. Sandy Pentland of the MIT Media Lab, Justin Lent of Quantopian, Bill Barhydt of Abra, and many others with decades of experience in relevant fields. We believe our team and advisors are one of the strongest aspects of our project and will allow us to achieve our vision for the future of data.</p>
                                            
                                            <img src ="../willHunting.png" class ="blogImage">
                                            <span class ="imageCaption">This is what we imagine Enigma’s brainstorming sessions to look like</span>
                                            
                                            
                                            
                                             <p class ="boldText" style ="margin-top:25px">Q: There are at least 15,061 PhD students writing their dissertations on blockchain projects and analyzing the footnotes of Satoshi’s original whitepaper. How did Enigma evolve from an academic research project at MIT to its current form?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> A decentralized data marketplace was one of the first things proposed in our <a href ="https://www.enigma.co/enigma_full.pdf" target ="_blank">whitepaper</a> in 2015. The ethos of the MIT Media Lab is <a href ="https://slice.mit.edu/2014/07/29/deploy-or-die-media-lab-directors-new-motto/" target ="_blank">“Deploy or Die”</a> — meaning we are not content to keep our interest purely academic. Getting working products into the hands of our community has always been our goal. As the space has evolved, the time is finally right for products like Catalyst and Enigma to thrive.</p>
                                            
                                            
                                            
                                            
                                             <h2>Part 2: If you build it, they will come</h2>
                                            
                                            <p style ="margin-top:0px; color:#662D91;font-weight:500;font-size:20px;padding:45px;text-align:center;font-style:italic">“We believe creating adoption around a usable product is the right approach, and one that is often overlooked in the crypto space.”</p>
     
                                            <p class ="boldText" style ="">Q:  Catalyst is designed to be the application layer on top of the Enigma decentralized database protocol. Are you planning to launch Catalyst before Enigma’s database protocol is ready? If so, how do you foresee a transition as the underlying protocol gets ready to launch.</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> Yes. We believe creating adoption around a usable product is the right approach, and one that is often overlooked in the crypto space. The first iteration of Catalyst would include a centralized data marketplace for crypto data, where we will host our own data sets, as well as those contributed by members of the community, in return for ENG bounties. The transition to the data marketplace protocol would be gradual. </p>
                                            
                                            <p >At first, we will release a client that allows data curators to host their data sets on their own servers, but data subscription would still be done centrally through our servers. Later on, after a sufficient period of testing, we will bootstrap the decentralized data marketplace protocol with all the existing data-sets to date, at which point, Enigma would become just another node in the network.</p>
                                           
                                             <img src ="../field_of_dreams.png" class ="blogImage">
                                            <span class ="imageCaption">Only American sports fans and movie buffs will get this picture as an analog to the story</span>
                                            
                                            
                                             <h2>Part 3: The comps</h2>
                                            
                                            <p class ="boldText">Q: According to our dataset, there are a number of projects out there who are launching token sales to fund either a decentralized database and/or algorithmic cryptocurrency trading platforms. What differentiates Enigma?</p>
                                            
                                            
                                        
                                            <p style="" ><span class ="boldText">A:</span> The Enigma team has been researching the idea of a data marketplace for several years now, with the original Enigma whitepaper being one of the most downloaded and cited papers in the blockchain space. Very few of the current projects (if any) that work around decentralized computation and storage have worked through the required technical hurdles. In that sense, our team is well suited to address that challenge. In terms of an algorithmic cryptocurrency trading platform, our alpha has already seen thousands of sign ups in the few weeks since its launch. Our biggest strength may be the growth in our community. As a platform, we rely on having an engaged community to succeed and grow. With 9000+ users already in our Slack channel, we’re confident in our strong momentum.</p>
                                            
                                       
                                            
                                            <p class ="boldText" style ="">Q: How does Enigma Catalyst compare to Numerai, another high-profile blockchain platform which incentivizes cryptocurrency investors to develop and implement algorithmic cryptocurrency trading strategies. Is there room for both projects and tokens?</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> The main difference is that Numerai is a fund, while we are a platform. Numerai uses predictions from the community to make their own investments. We give community the tools to allow our users make their investments and hence capture their own upside. Also, the long-term vision of Enigma is much broader than that of Numerai.</p>
                                            
                                            <h2>Part 4: Token Sale Best Practices</h2>
                                            
                                            <p style ="margin-top:0px; color:#662D91;font-weight:500;font-size:20px;padding:45px;text-align:center;font-style:italic">“On the token sale front, we like what 0x and Civic did — ensuring access to the community, as well as a large distribution of tokens.”</p>
                                            
                                              <p class ="boldText" style ="">Q: Your token sale is planned for Sep 11. Can you describe the team’s vesting rights and how you plan to get a wide distribution of token holders.</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> The team’s ENG tokens vest over multiple years, with all of the team committed to holding their tokens through the first year. Since we are a platform that depends on its users to be successful, we are committed to a broad crowd sale with a focus on our core community. We also have a significant portion of our created ENG tokens allocated to our community through incentives.</p>
                                            
                                               <p class ="boldText" style ="">Q: You recently announced and started the Catalyst Contests in which people can test strategies and earn ENG tokens. Can you tell us more about some of the results you’ve seen so far and the feedback from early users?</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span><a href ="https://blog.enigma.co/announcing-catalyst-contests-fd45b9d1224f" target ="_blank"> Catalyst Contests</a> are our newest creation, with our first content currently running right now, so it’s a bit early to remark on results. The best strategies are eligible to win ENG tokens for beating the crypto markets. So far our early users have been essential in helping us refine the Catalyst product and make more accessible to our community. We’re working closely with professional quants to ensure we’re building a powerful product that is still usable by anyone.</p>
                                            
                                             
                                              <p class ="boldText" style ="">Q: What are cryptocurrency projects/ICOs/token sales that Enigma looks at as a good example for running a project and token sale?</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> On the token sale front, we like what 0x and Civic did — ensuring access to the community, as well as a large distribution of tokens. We believe communities are what wins the game. On the project side, we like Ethereum and Filecoin — both have done a tremendous job in popularizing complicated tech and making it accessible for developers.</p>
                                            
                                            <p class ="boldText" style ="">Q: What is your view on the recent SEC ruling, and if/how it affects your project and more specifically, the ENG token and the statement that “Catalyst allows anyone to build their own crypto hedge fund.”</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> According to the legal advice from our excellent lawyers, ENG is a utility token and it does not constitute a security. We have complied and intend to comply with all guidance from regulatory bodies. For more information refer to our lawyer <a href ="https://twitter.com/msantoriESQ?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Fwww.cnbc.com%2F2017%2F07%2F26%2Fsec-moves-closer-to-taming-wild-west-of-digital-currencies.html" target ="_blank">Marco Santori’s tweets</a> on utility tokens.</p>
                                            
                                            <h2>Part 5: Phishing Attack Aftermath</h2>
                                            
                                            <p style ="margin-top:0px; color:#662D91;font-weight:500;font-size:20px;padding:45px;text-align:center;font-style:italic">“First and foremost, always educate your community.”</p>
                                            
                                            
                                              <p class ="boldText" style ="">Q: Last Sunday, there was a security breach of the Enigma website and Slack channel that resulted in a phishing attack and fake pre-sale announcement. How long did it take the team to notice that something was wrong, and what were your first actions? </p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> The Slack community first brought the attack to our attention almost immediately. Our first action was to take the website down and change all passwords to any critical systems. That is likely what mitigated most of the attack, as at that point people in the community were aware that this was a phishing attempt. All e-mails were sent from a fake account that didn’t belong to the company. Our community was instrumental in handling Slack and warning people of the phishing attack, and we are grateful for their help in containing the impact.</p>
                                            
                                            <p class ="boldText" style ="">Q: What actions and security measures have you taken in response to the hack?</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> Enigma announced that it has taken responsibility and will restore funds to everyone that lost money in this recent scam attempt after the token sale concludes. We are deeply sorry for the pain experienced by those who lost funds to the scam attempt, and we want to make sure that no one in our community that was a victim to this well-coordinated phishing attack is financially hurt. We’re very thankful that our community has stood by us and continues to support our project.</p>
                                            
                                            <p>Here are the announced measures we’ve taken:</p>
                                            
                                            <ol style ="font-size:18px;">
                                                  <li>Strong, different, random passwords for each account — whether held by an employee or official communication channels for the company</li>
                                                  <li>2FA for all such accounts </li>
                                                 <li>Weekly password rotation, and daily rotation in the week leading to the token sale</li>
                                                 <li>Proper access control management and compartmentalization</li>
                                        
                                                </ol>
                                            <p>We are taking additional security steps that we are not making public at this time. We’re also working with law enforcement, exchanges, token sale companies, and our community to continue to pursue the lost funds and the scammers. We hope to have more announcements on this matter soon.</p>
                                            
                                            <p class ="boldText" style ="">Q: Given the amount of token sales that are slated to take place after yours, how can other token sales learn from your mistakes and what would you recommend them to do?</p>
                                            
                                            <p style="" ><span class ="boldText">A:</span> First and foremost, always educate your community. We made multiple announcements prior to the scam attempt that no money should be sent to anyone for any reason prior to our crowdsale date, and we provided guidance for identifying phishing attempts. Token sales should take every security precaution from day 1, including those we mentioned here, and you should ask that your community do the same. We’re currently working with other token sales, both previous and upcoming, to establish clear best practices and share our learnings.</p>
                                            
                                            <p style ="height:10px;width:100%;border-bottom:solid 1px"></p>
                                            
                                            <p style="font-style:italic" >Special thanks to Tor Bair from the Enigma team for co-ordinating the interview. Any comments & questions are welcome at info@tokendata.io.</p>
                                            
                                             <p style="font-style:italic" >DISCLAIMER: The interview with Enigma is not sponsored content and TokenData.io is not getting compensated by the Enigma team in any form whatsoever. This interview is for informational purposes only and does not constitute any solicitation or endorsement of investment. Any token purchases you make are at your own risk and discretion. The contents of this interview are the property of TokenData.io — All rights reserved.</p>
                                            
                                        </div>



                                    </div>
                           
                                    
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
        
                        
                        
                        
                    </div>
  
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT -->
        </div>
        
        <!-- END CONTAINER -->
        
        <!-- BEGIN FOOTER -->
        <div class="page-footer" style ="text-align:center">
            
           
            
            
            <div class="page-footer-inner container-fluid container-lf-space">
                
                <div class = "row">
                    <div class ="col-md-4 col-md-offset-4">
                        
                        
                      
                                                 
                        <h4 style ="margin-bottom:10px;color:#662D91">Sign up for Token Sales news and data</h4>
                                                
                                            
                        
                       
                        
                        
                        
                        
                        
                        
                                    <div class="form-inline margin-bottom-40" role="form" id ="emailSign">
                                        <div class="form-group form-md-line-input ">
                                            <div class="input-icon">
                                                <input type="email" class="form-control" placeholder="Email" id = "email">
                                                <div class="form-control-focus" style ="color:red"> </div>
                                                
                                                
                        
                                                
                                                
                                                <span class="help-block">Your email is 100% secure.</span>
                                                <i class="fa fa-envelope-o" id="emailIcon"></i>
                                            </div>
                                        </div>
                                      
                                         <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn">
                                        <span class="help-block" style ="display:none" id="joined">Thanks for joining!</span>
                                       <!-- <input type="button" class="btn" style ="background:#3498DB;color:white" id="email_btn">Join</input>-->
                                    </div>
                    
                    </div>
                
                </div>
                 
                
                            <div class="modal fade modalSpace" id="basic" tabindex="-1" role="basic" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px"> Sign-in</h2>
                    </div>
                    <div class="modal-body" style ="margin-top:20px">
                      <div class="form-inline margin-bottom-40" role="form">
                        <form action="/login" method="post" style="margin:0;padding:0;">
                          <div class="form-group form-md-line-input loginFlow">
                            <input name="email" type="email" class="form-control user" placeholder="Username" id = "username">
                            <input name="password" type="password" class="form-control pass" placeholder="Password" id = "password">
                          </div>
                          <input value="Log-in" type="submit" class="btn loginFlowButton" style ="background:#662D91;color:white" id="login">
                          <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                        </form>
                      </div>
                    </div>
                  </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <div class="modal fade modalSpace" id="basic1" tabindex="-1" role="basic1" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px">Create Account</h2>
                    </div>
                    <form action = "/signup" method ="post">
                      <div class="modal-body" style ="margin-top:20px">
                                <div class="form-inline margin-bottom-40" role="form">
                                    <div class="form-group form-md-line-input loginFlow">
                                            <input name = "email" type="email" class="form-control user" placeholder="email" id = "username">
                                            <input name = "password" type="password" class="form-control pass" placeholder="Password" id = "password">
                                    </div>
                                    <input value="Create Account" type="submit" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                                </div>
                        </div>
                    </form>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
                
                
                <p class="page-footer-copyright" style ="color:#0071BC">
              
              
                                 <a href="https://medium.com/@tokendata" data-original-title="rss" class="social-icon rss"> </a>
                   
                     
                                 <a href="https://twitter.com/tokendata" data-original-title="twitter" class="social-icon twitter"> </a>
                              
                        
                                <a href="https://www.reddit.com/r/ethtrader/" data-original-title="reddit" class="social-icon reddit"> </a>
                    
                   
                          
                </p>
                <img src = "../ethWallet.png" style ="margin-top:10px">
                <p style ="margin-top:10px;color:#d0d5dc">Support us with Eth! <br>0x8c2F1805F76cE8fA0297331fDAeD5d0dBa2E66F8</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Price data sourced from coinmarketcap.com</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Contact us at info@tokendata.io </p>
                <p><img src ="../tokenFooter.png" style ="width:auto;height:70px;margin-top:10px"></p>
            </div>
            <div class="go2top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN QUICK NAV -->
 
       
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                <!-- BEGIN PAGE LEVEL PLUGINS -->
 
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
                <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <script>
          $( "#create" ).click(function() {
                  $('#basic').modal('toggle');
                 $('#basic1').modal('toggle');
                 
                 
              
                   
            });
            $(document).ready(function()                  
            {
            
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
               $( "#email_btn" ).click(function() {
                   var data = $( "#email" ).val();

                  
                   $( "#email_btn" ).hide();
                   $( "#emailIcon" ).hide();
                   $( "#email" ).hide();
                   $( "#joined" ).show();

                  // console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            $( "#email_btn2" ).click(function() {
                   var data = $( "#email2" ).val();

                  
                   $( "#email_btn2" ).hide();
                   $( "#emailIcon2" ).hide();
                   $( "#email2" ).hide();
                   $( "#joined2" ).show();

                   //console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            });
        $( "#advanced" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#advanced" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
             $( "#token" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#token" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
              $( "#upcoming" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#upcoming" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
               $( "#blog" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#blog" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
                      
  
            

          




        </script>
        <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny1yd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
    </body>
</html>