

<!DOCTYPE html>


<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Token Data</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
       
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout7/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.css" rel="stylesheet" type="text/css" />
        
        
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="../favicon.ico" /> 
        <style>
            .dataTables_info{
                display:none;
            }
            tr:{
                border:none;
            }
            .widget-socials {
                min-height: 100px;
            }
            .table{
                font-size:!important 10px;
            }
            .form-control {
                color:!important #ecf0f1;
            }
            #sample_1_length{
               
            }
            .pagination:hover{
                color:!important red
            }
            
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background:none;
                border:none;
            }
            .tokenRet{
                color:red
            }
            #advanced:hover{
                color:red
            }
       

      
        </style>
       
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101906654-1', 'auto');
          ga('send', 'pageview');
            ga('set', 'userId', {{USER_ID}});
        

    </script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9173598781940396",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("a6a89e1d-1927-467b-b4bb-805b86146348");
</script>
        <script type="text/javascript">
window.JacoRecorder.identify(userID, function callback(err){});
</script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("71939c2e8ef99a61e866ad9f029926ae");</script><!-- end Mixpanel -->
                	
<script type="text/javascript"> _linkedin_data_partner_id = "78812"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=78812&fmt=gif" /> </noscript>
    </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid" >
  <!--  <div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:40px;z-index:1030;text-align:center;margin-left:0px;">
            
            
 
            
            <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 clearfix" style ="margin-top:5px;width:auto;">
                 
        
               

                <a target="_blank" href ="https://www.etherparty.io/ico/" style ="padding:1px;color:white;font-size:11px;text-decoration:none;">
                <span style ="color:#d0d5dc">Featured </span>
                    
                <img src = '../ep2.png' style ="width:auto;height:31px;padding:1px;margin-top:-1px;margin-right:5px"> 
                    <span style ="width:auto;margin-top:0px;margin-left:-14px"><span style ="font-size:14px;font-weight:bold;">ETHERPARTY</span>&nbsp |&nbsp Create a Smart Contract in minutes rather than months. Join the Fuel ICO now!</span></a>
                   
             
                   
                   </div>
            
            
        </div>-->
        <!-- BEGIN HEADER -->

        <div class="page-header navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="clearfix">
                <!-- BEGIN BURGER TRIGGER -->
                <div class="burger-trigger">
                    <button class="menu-trigger">
                        <img src="../assets/layouts/layout7/img/m_toggler.png" alt=""> </button>
                    <div class="menu-overlay menu-overlay-bg-transparent">
                        <div class="menu-overlay-content">
                            <ul class="menu-overlay-nav text-uppercase">
                                <li>
                                    <a href="/">Token Sales</a>
                                </li>
                                <li>
                                    <a href="/advanced">Advanced Returns</a>
                                </li>
                                <li>
                                    <a href="/upcoming">Upcoming ICOs</a>
                                </li>
                                 <li>
                                    <a href="https://t.me/tokendata">Telegram Channel
                                        </a>
                                </li>
                                <li>
                                    <a href="/blog">Blog
                                        </a>
                                </li>
                                   
                                <li>
                              {{{navList}}}
                          </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="menu-bg-overlay">
                        <button class="menu-close">&times;</button>
                    </div>
                    <!-- the overlay element -->
                </div>
                <!-- END NAV TRIGGER -->
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="">
                        <img src="../token_data.png" alt="logo" class="logo-default" style ="width:auto;height:45px"/> 
                        
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                    <div class="top-menu">
                            <ul class="nav navbar-nav pull-right" style = "margin-top:23px;margin-right:20px">
                                <!-- BEGIN NOTIFICATION DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li>
                                <div class="form-inline margin-bottom-40" role="form" id ="emailSign2">
                                                <div class="form-group form-md-line-input ">
                                                    <div class="input-icon">
                                                        <input type="email" class="form-control" placeholder="Email" id = "email2">
                                                       <div class="form-control-focus" style ="color:red"> </div>

                                                        <i class="fa fa-envelope-o" id="emailIcon2"></i>
                                                    </div>
                                                </div>

                                                 <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn2">


                                </div>

                                         </li>
                                <li>
                                 <span class="help-block" style ="display:none;float:left" id="joined2">Thanks for joining!</span>
                               
                                </li>
                
                            </ul>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container page-content-inner page-container-bg-solid">

            <!-- BEGIN CONTENT -->
            <div class="container-fluid container-lf-space margin-top-30">
         

                    <div class="row widget-row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            
                            <div class="portlet light portlet-fit">
                                     <div class="portlet-title">
                                    <div class="caption">
                                        
                                        
                                        <a href ="/" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;font-size:16px" id ="token">Token Sales</span>

                                        </a>
                                        
                                        
                                        
                                        <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        <a href ="/advanced" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="advanced">Advanced Returns</span>
                                        </a>
                                        
                                        
                                        
                                         <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                       
                                             
                                              <a href ="/upcoming" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="upcoming">ICO Calendar</span>
                                        </a>
                                        
                                          <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        
                                        
                                    <a href ="/analytics" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="analytics">Analytics</span>
                                    </a>
                                          
                                        
                                    </div>
                                    <div class="actions">
                                        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <button id = "completed" type="button" class="btn btn-success">Completed</button>
                                            <button id ="active" type="button" class="btn btn-primary">Active</button>
                                            <button id ="planned" type="button" class="btn btn-info">Planned</button>
                                            <button id = "all" type="button" class="btn btn-danger">All</button>
                                          
                                        </div>-->
                                    </div>
                                </div>
                               <div class ="row" id = "blogIntro">
                                   <div class = "col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                         <h1>The crypto startup with no ICO</h1>
                                       
                                   </div>
                               
                                   
                                </div>
                                <div class="portlet-body blogBody">
                                    
                                    <div class ="row">

                                        <div class = "col-md-offset-3 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12">
                                            <p id ="date">Wednesday, August 23rd, 2017
                                            </p>
                                            <p style ="margin-top:-20px; color:#d0d5dc;font-weight:900;">Why blockchain startup Balance chooses to raise $1M through equity crowdfunding instead of tenfold in an ICO</p>
                                            
                                    
                                            
                                            <p style ="margin-top: -10px">Last week, the TokenData.io team was sent an e-mail to list the ICO for a personal finance application called <a href ="https://balancemy.money/" target ="_blank">Balance</a>. When we visited the site, we found out that their “ICO” was wordplay for a ‘traditional’ equity crowdfunding campaign. Always appreciative of puns and slight sarcasm, we did some further research and found out that Balance was founded by cryptogeek-meets-kitesurfer-meets-British-bloke <a href ="https://twitter.com/ricburton?lang=en" target ="_blank">Richard Burton</a>. This led us to DM him one simple message: “You’re a crypto die-hard, and in a world in which every single crypto related startup seeks funding through an ICO, why not you?”</p>
                                            
                                            <p >What followed was a much longer discussion which we’ve transcribed below:</p>
                                            
                                            <p class ="boldText">Q: What is your background in cryptocurrencies?</p>
                                            <p style="" ><span class ="boldText">A:</span> Three years ago I was jogging around San Francisco listening to podcasts about Bitcoin and I heard Vitalik talk about Ethereum. It sounded meaningfully different to all of the other alt-coins that had forked Bitcoin and I remembered the name of the project. Later that week, I spoke to a fellow kitesurfer Bill Tai and he told me to look into Ethereum. Then a few days later Gavin Wood, the CTO of Ethereum, walked into our dingy hacker house and talked about building a global super computer. My mind was primed for the ideas he was sharing and, I asked him if I could help our by designing things for the team. He introduced me to Vitalik and we worked together in England for about a month on some concepts for a distributed app store and an Ethereum browser. These ideas were used to help Gavin pitch Ethereum to people before the sale.</p>
                                            
                                            <img src ="../vitalik.png" class ="blogImage">
                                            <span class ="imageCaption">The cradle of token life</span>
                                            
                                            <p class ="boldText" style ="margin-top:25px">Q: Ok, enough about the early days of Ethereum, you make us feel manically depressed for not participating in the token sale despite our buddies telling us about it. Tell us more about Balance and how it’s related to cryptocurrencies and the blockchain sector.</p>
                                            <p style="" ><span class ="boldText">A:</span> Our first product, Balance, is a MacOS menubar app that connects to banks and shows your personal finances. Balance began as a side project a couple of years ago while I was interviewing for jobs in the FinTech industry. I showed an early version to my friends Christian and Ben and we spent the next year building out the app and we launched it in February 2017. As ETH went up 100x, we ended up doing some design work for the Filecoin team and Juan Benet told us about a future where protocols ran everything. We started to realise that Balance could become a company that builds products not only for ‘traditional’ financial institutions and fiat money, but could also serve as a bridge to digital currencies.</p>
                                            
                                            <p > Our second product, Balance Open, connects to digital currency exchanges through their APIs. Our plan is to just have one version of Balance that works with all of the world’s currencies, digital currencies and blockchain tokens. We want people to be able to see all of their traditional and digital assets side by side. One single interface for both banking and blockchain data. One place for all balances.</p>
                                           
                                             <img src ="../balanceTeam.png" class ="blogImage">
                                            <span class ="imageCaption">The Balance Team</span>
                                            
                                            
                                            <p class ="boldText" style ="margin-top:25px">Q: Time for the money question: In an era of tokens and ICOs, and as someone who’s been involved in two significant token sales, what made you choose a traditional equity crowdfunding campaign instead of potentially raising multiples of that in an ICO?!?</p>
                                            <p style="" ><span class ="boldText">A:</span> Our team has worked and participated in the best and the biggest ICOs: Ethereum and Filecoin. Ethereum raised around $17 million and delivered a multi billion dollar protocol. I think that speaks to the power of a network-based project. Balance is not building a protocol, we are building a product.</p>
                                            
                                            
                                            <p>Moreover, the huge sums of capital that are flowing into the average ICO are actually damaging to a young company. It shields the team from the market. The reason we are only raising a million dollars is because we have a lot to prove. If Balance fails to find product-market fit, we deserve to go out of business, we deserve to die, because we still need to make something people want.</p>
                                            
                                            <p>I wish more of the people doing ICOs realized that you cannot defy gravity forever. If a sh*tcoin protocol raise goes well but you never ship useful software, you will fail. You will be forgotten. If you steal that money and disappear to another jurisdiction, you will be noted. You will be digitally hunted by a well financed group of crypto-sherriffs who see it as their duty to police this space. It is already happening. There is a huge cost to being dishonest in the crypto community and there is a huge benefit to being trustworthy.</p>
                                            
                                            <p class ="boldText" style ="margin-top:25px">Q: Do you see a place for a token sale later in your company’s life? In other words, what’s your view on ICOs as post-seed startup funding?</p>
                                            <p style="" ><span class ="boldText">A:</span> I am paying close attention to teams who are putting equity/shares on the blockchain. The fancy wording for this is the “securitization” of tokens. For example: the company behind the <a href ="https://www.lykke.com/company/news/lykke_corp_completes_public_offering" target ="_blank">Lykke exchange issued equity tokens.</a> </p>
                                            
                                            
                                            <p>We would love to issue “BAL” tokens for Balance that represented shares in the company, but only when we have a underlying business that warrants a larger fundraise and when the regulatory environment is more clear than it is right now. It would effectively be a mini-IPO and fall squarely within the remit of the Securities and Exchange Commission. There are so many benefits and risks to this approach. On the positive side, we could easily remunerate team members and outside contributors with shares in the company. The risk is that lots of sh&tty companies start issuing equity tokens and regular investors get scammed.</p>
                                            
                                              <p class ="boldText" style ="margin-top:25px">Q: What are your thoughts and concerns about the current crypto landscape?</p>
                                            <p style="" ><span class ="boldText">A:</span> There are two kinds of people flooding into this space: Creators and extractors. The creators are the engineers, designers, cryptographers, academics, marketers and operations people. They want to help build the open financial system. I love all of them. The extractors are the scammers, skimmers, liars, idiots, and greedy people. They want to enrich themselves and steal money from others. </p>
                                            
                                            
                                            <p>I find that meetups and conferences are emotional rollercoasters of wonder and disgust. You meet the most inspiring minds in the world who are trying to solve the major issues in the chain space. Then the next person will be some scum-of-the-earth scam artist just crawling through to sell their sh*tty coin. What I want people in the space to understand is this: there is a huge difference between holding a few cryptographic keys and actually making something people want. Just because you are rich does not mean that you are good.</p>
                                            
                                            <p>
                                            Another area that I find most infuriating is the lack of great execution and design. So many cryptographers and early engineers completely dismiss the user interface as an easy part of the process — it is not.
                                            </p>
                                            
                                            <p>
                                            If blockchain protocols are going to have any real world value, we need them to be easy for people and companies to actually use them. The products are just as important as the protocols. Great products take a lot of time and energy to get right. When the people pumping these sh*tty ICOs talk about “throwing together an iPhone app” I know they haven’t got a clue about product design. 99% of iPhone apps are relegated to the back of the phone and are never used. If you think your darling little uncapped ICO with a sh*tload of hype is going to be front and center for people in their daily lives, you are wrong.
                                            </p>
                                            
                                            <p>
                                            Blockchains are built on digital trust and great people. I wish there were more trustworthy people in the space. The ICO world has a lot of capital, cryptography and hype. What it lacks is a lot of great execution, design, integrity and genuinely useful software. That is what worries me.
                                            </p>

                                        </div>



                                    </div>
                           
                                    
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
        
                        
                        
                        
                    </div>
  
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT -->
        </div>
        
        <!-- END CONTAINER -->
        
        <!-- BEGIN FOOTER -->
        <div class="page-footer" style ="text-align:center">
            
           
            
            
            <div class="page-footer-inner container-fluid container-lf-space">
                
                <div class = "row">
                    <div class ="col-md-4 col-md-offset-4">
                        
                        
                      
                                                 
                        <h4 style ="margin-bottom:10px;color:#662D91">Sign up for Token Sales news and data</h4>
                                                
                                            
                        
                       
                        
                        
                        
                        
                        
                        
                                    <div class="form-inline margin-bottom-40" role="form" id ="emailSign">
                                        <div class="form-group form-md-line-input ">
                                            <div class="input-icon">
                                                <input type="email" class="form-control" placeholder="Email" id = "email">
                                                <div class="form-control-focus" style ="color:red"> </div>
                                                
                                                
                        
                                                
                                                
                                                <span class="help-block">Your email is 100% secure.</span>
                                                <i class="fa fa-envelope-o" id="emailIcon"></i>
                                            </div>
                                        </div>
                                      
                                         <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn">
                                        <span class="help-block" style ="display:none" id="joined">Thanks for joining!</span>
                                       <!-- <input type="button" class="btn" style ="background:#3498DB;color:white" id="email_btn">Join</input>-->
                                          {{{portfolio}}}
                                    </div>
                    
                    </div>
                
                </div>
                 
                
                         <div class="modal fade modalSpace" id="basic" tabindex="-1" role="basic" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px"> Sign-in</h2>
                    </div>
                    <div class="modal-body" style ="margin-top:20px">
                      <div class="form-inline margin-bottom-40" role="form">
                        <form action="/login" method="post" style="margin:0;padding:0;">
                          <div class="form-group form-md-line-input loginFlow">
                            <input name="email" type="email" class="form-control user" placeholder="Username" id = "username">
                            <input name="password" type="password" class="form-control pass" placeholder="Password" id = "password">
                          </div>
                          <input value="Log-in" type="submit" class="btn loginFlowButton" style ="background:#662D91;color:white" id="login">
                          <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                        </form>
                      </div>
                    </div>
                  </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <div class="modal fade modalSpace" id="basic1" tabindex="-1" role="basic1" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px">Create Account</h2>
                    </div>
                    <form action = "/signup" method ="post">
                      <div class="modal-body" style ="margin-top:20px">
                                <div class="form-inline margin-bottom-40" role="form">
                                    <div class="form-group form-md-line-input loginFlow">
                                            <input name = "email" type="email" class="form-control user" placeholder="email" id = "username">
                                            <input name = "password" type="password" class="form-control pass" placeholder="Password" id = "password">
                                    </div>
                                    <input value="Create Account" type="submit" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                                </div>
                        </div>
                    </form>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
                
                
                <p class="page-footer-copyright" style ="color:#0071BC">
              
              
                                 <a href="https://medium.com/@tokendata" data-original-title="rss" class="social-icon rss"> </a>
                   
                     
                                 <a href="https://twitter.com/tokendata" data-original-title="twitter" class="social-icon twitter"> </a>
                              
                        
                                <a href="https://www.reddit.com/r/ethtrader/" data-original-title="reddit" class="social-icon reddit"> </a>
                    
                   
                          
                </p>
                <img src = "../ethWallet.png" style ="margin-top:10px">
                <p style ="margin-top:10px;color:#d0d5dc">Support us with Eth! <br>0x8c2F1805F76cE8fA0297331fDAeD5d0dBa2E66F8</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Price data sourced from coinmarketcap.com</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Contact us at info@tokendata.io </p>
                <p><img src ="../tokenFooter.png" style ="width:auto;height:70px;margin-top:10px"></p>
            </div>
            <div class="go2top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN QUICK NAV -->
 
       
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                <!-- BEGIN PAGE LEVEL PLUGINS -->
 
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
                <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <script>
          $( "#create" ).click(function() {
                  $('#basic').modal('toggle');
                 $('#basic1').modal('toggle');
                 
                 
              
                   
            });
            $(document).ready(function()                  
            {
            
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
               $( "#email_btn" ).click(function() {
                   var data = $( "#email" ).val();

                  
                   $( "#email_btn" ).hide();
                   $( "#emailIcon" ).hide();
                   $( "#email" ).hide();
                   $( "#joined" ).show();

                  // console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            $( "#email_btn2" ).click(function() {
                   var data = $( "#email2" ).val();

                  
                   $( "#email_btn2" ).hide();
                   $( "#emailIcon2" ).hide();
                   $( "#email2" ).hide();
                   $( "#joined2" ).show();

                   //console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            });
        $( "#advanced" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#advanced" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
             $( "#token" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#token" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
              $( "#upcoming" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#upcoming" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
               $( "#blog" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#blog" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
                      
  
            

          




        </script>
        <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny1yd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
    </body>
</html>