

<!DOCTYPE html>


<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Token Data</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
       
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout7/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.css" rel="stylesheet" type="text/css" />
        
        
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="../favicon.ico" /> 
        <style>
            .dataTables_info{
                display:none;
            }
            tr:{
                border:none;
            }
            .widget-socials {
                min-height: 100px;
            }
            .table{
                font-size:!important 10px;
            }
            .form-control {
                color:!important #ecf0f1;
            }
            #sample_1_length{
               
            }
            .pagination:hover{
                color:!important red
            }
            
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background:none;
                border:none;
            }
            .tokenRet{
                color:red
            }
            #advanced:hover{
                color:red
            }
       

      
        </style>
       
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101906654-1', 'auto');
          ga('send', 'pageview');
            ga('set', 'userId', {{USER_ID}});
        

    </script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9173598781940396",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("a6a89e1d-1927-467b-b4bb-805b86146348");
</script>
        <script type="text/javascript">
window.JacoRecorder.identify(userID, function callback(err){});
</script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("71939c2e8ef99a61e866ad9f029926ae");</script><!-- end Mixpanel -->
                	
<script type="text/javascript"> _linkedin_data_partner_id = "78812"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=78812&fmt=gif" /> </noscript>
    </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid" >
        
  <!--  <div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:40px;z-index:1030;text-align:center;margin-left:0px;">
            
            
 
            
            <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 clearfix" style ="margin-top:5px;width:auto;">
                 
        
               

                <a target="_blank" href ="https://www.etherparty.io/ico/" style ="padding:1px;color:white;font-size:11px;text-decoration:none;">
                <span style ="color:#d0d5dc">Featured </span>
                    
                <img src = '../ep2.png' style ="width:auto;height:31px;padding:1px;margin-top:-1px;margin-right:5px"> 
                    <span style ="width:auto;margin-top:0px;margin-left:-14px"><span style ="font-size:14px;font-weight:bold;">ETHERPARTY</span>&nbsp |&nbsp Create a Smart Contract in minutes rather than months. Join the Fuel ICO now!</span></a>
                   
             
                   
                   </div>
            
            
        </div>-->
        <!-- BEGIN HEADER -->
        <!--<div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:30px;z-index:1030;text-align:center;margin-left:0px">
            <div class ="col-md-offset-4 col-md-4" style ="margin-top:5px"><a target="_blank" href ="https://medium.com/blockchannel/introducing-tokendata-io-dcd26d9fbc1e" style ="padding:1px;color:white;font-size:12px">We've launched! Check out our weekly update here. </a></div>
        </div>-->
        <div class="page-header navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="clearfix">
                <!-- BEGIN BURGER TRIGGER -->
                <div class="burger-trigger">
                    <button class="menu-trigger">
                        <img src="../assets/layouts/layout7/img/m_toggler.png" alt=""> </button>
                    <div class="menu-overlay menu-overlay-bg-transparent">
                        <div class="menu-overlay-content">
                            <ul class="menu-overlay-nav text-uppercase">
                                <li>
                                    <a href="/">Token Sales</a>
                                </li>
                                <li>
                                    <a href="/advanced">Advanced Returns</a>
                                </li>
                                <li>
                                    <a href="/upcoming">Upcoming ICOs</a>
                                </li>
                                 <li>
                                    <a href="https://t.me/tokendata">Telegram Channel
                                        </a>
                                </li>
                                <li>
                                    <a href="/blog">Blog
                                        </a>
                                </li>
                                
                                <li>
                              {{{navList}}}
                          </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="menu-bg-overlay">
                        <button class="menu-close">&times;</button>
                    </div>
                    <!-- the overlay element -->
                </div>
                <!-- END NAV TRIGGER -->
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="">
                        <img src="../token_data.png" alt="logo" class="logo-default" style ="width:auto;height:45px"/> 
                        
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                    <div class="top-menu">
                            <ul class="nav navbar-nav pull-right" style = "margin-top:23px;margin-right:20px">
                                <!-- BEGIN NOTIFICATION DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li>
                                <div class="form-inline margin-bottom-40" role="form" id ="emailSign2">
                                                <div class="form-group form-md-line-input ">
                                                    <div class="input-icon">
                                                        <input type="email" class="form-control" placeholder="Email" id = "email2">
                                                       <div class="form-control-focus" style ="color:red"> </div>

                                                        <i class="fa fa-envelope-o" id="emailIcon2"></i>
                                                    </div>
                                                </div>

                                                 <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn2">


                                </div>

                                         </li>
                                <li>
                                 <span class="help-block" style ="display:none;float:left" id="joined2">Thanks for joining!</span>
                                      {{{portfolio}}}
                                </li>
                
                            </ul>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container page-content-inner page-container-bg-solid">

            <!-- BEGIN CONTENT -->
            <div class="container-fluid container-lf-space margin-top-30">
         

                    <div class="row widget-row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            
                            <div class="portlet light portlet-fit">
                                     <div class="portlet-title">
                                    <div class="caption">
                                        
                                        
                                        <a href ="/" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;font-size:16px" id ="token">Token Sales</span>

                                        </a>
                                        
                                        
                                        
                                        <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        <a href ="/advanced" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="advanced">Advanced Returns</span>
                                        </a>
                                        
                                        
                                        
                                         <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                       
                                             
                                              <a href ="/upcoming" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="upcoming">ICO Calendar</span>
                                        </a>
                                        
                                          <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        
                                        
                                    <a href ="/analytics" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="analytics">Analytics</span>
                                    </a>
                                          
                                        
                                    </div>
                                    <div class="actions">
                                        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <button id = "completed" type="button" class="btn btn-success">Completed</button>
                                            <button id ="active" type="button" class="btn btn-primary">Active</button>
                                            <button id ="planned" type="button" class="btn btn-info">Planned</button>
                                            <button id = "all" type="button" class="btn btn-danger">All</button>
                                          
                                        </div>-->
                                    </div>
                                </div>
                               <div class ="row" id = "blogIntro">
                                   <div class = "col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                         <h1>A Career in Crypto — Linda Xie</h1>
                                       
                                   </div>
                               
                                   
                                </div>
                                <div class="portlet-body blogBody">
                                    
                                    <div class ="row">

                                        <div class = "col-md-offset-3 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12">
                                            <p id ="date">Monday, September 25, 2017
                                            </p>
                                             <img src ="../linda.png" class ="blogImage" style ="margin-left:-15px">
                                            
                                    
                                            
                                            <p style ="">
                                                One name that consistently shows up in any meaningful discussion we have about tokens, ICOs, decentralized business models and cryptocurrency careers is <a href ="https://medium.com/@linda.xie" target ="_blank">Linda Xie</a> : Former Coinbase PM, <a href ="https://medium.com/@linda.xie" target ="_blank">writer of excellent beginner guides</a> and advisor to the <a href =" https://blog.coinbase.com/a-beginners-guide-to-ethereum-46dd486ceecf" target ="_blank">0x project</a>* —  the only thing missing from her stellar crypto CV was a crypto-focused investment fund. So when we were told that she was setting out to do exactly that, we couldn’t wait to interview her about her career, opinions on the token space and setting up a fund.</p>
                                            
                                         
                                            
                                            <h2>From skepticism to defining moments</h2>
                                            
                                          
                                            <p style ="margin-top:0px; color:#662D91;font-weight:500;font-size:20px;padding:45px;text-align:center;font-style:italic">“Interest in crypto can explode to unprecedented levels in a matter of days”</p>
                                            <p class ="boldText">Q: How did you first discover Bitcoin and what convinced you to start a career in the space?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> I first discovered Bitcoin in 2011 when my classmate and I were researching topics to write about for our Economics class. We ended up writing a research paper on Bitcoin but our outlook wasn’t very positive at the time. My initial reaction was that it was fascinating technology but I did not think it would ever become mainstream because very few people had heard of it, the primary association was darknet markets, and there wasn’t a trusted or easy place to buy it.
                                            </p>
                                            
                                            <p>The defining moment for me to start a career in the space was when Coinbase onboarded Overstock as a merchant to start accepting bitcoin as a form of payment in 2014. I was excited to see such a prominent company publicly show their support for bitcoin with a legitimate digital currency startup leading the charge. This event actually led me to apply to Coinbase.</p>
                                            
                                            
                                            <p class ="boldText">Q: During your last year at Coinbase, you witnessed exponential user growth and the incredible price change in Ethereum. What is your biggest lesson about scaling a cryptocurrency focused company?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> One of the surprising things that we witnessed at Coinbase is that interest in crypto can explode to unprecedented levels in a matter of days. While there had been a steady increase in new Coinbase customers, during the run-up in Ethereum market cap in May 2017 we had a day where 40,000 new users signed up. It’s important to create infrastructure that can dynamically scale at these rates. </p>
                                            
                                            
                                            
                                            
                                             <p class ="boldText" style ="margin-top:25px">Q: For cryptocurrencies to go ‘mainstream’ and/or to make it more attractive for institutional investors what are the types of companies that are missing and the critical problems that need to be solved?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> Some of the obvious problems that need to be solved are the blockchain scaling issues. We need sufficiently decentralized blockchains that can actually support mainstream adoption today. Another one is the extreme volatility of cryptocurrencies, which can be inconvenient for people that are getting paid in digital currency. Having a reliable stable coin will be a critical ingredient for mainstream adoption of digital currencies. I’d like to see more companies focused on publishing educational materials for non-technical folks and easy ways to store and exchange crypto in every country, as well as financial instruments such as ETFs for institutions (e.g. pension funds, university endowments, etc.) to invest in.</p>
                                            
                                            
                                            
                                            
                                             <h2>The Token Take</h2>
                                            
                                            <p style ="margin-top:0px; color:#662D91;font-weight:500;font-size:20px;padding:45px;text-align:center;font-style:italic">“if you were to replace the token with Ether, would it operate in the exact same way?”</p>
     
                                            <p class ="boldText" style ="">Q:  We can imagine that you get approached 24/7 by token sales to become an advisor for token sales/ICO’s. Why did you pick 0x?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> I strongly believe in the 0x vision that the world is becoming tokenized and everything from fiat currencies to stocks to digital game items will eventually end up represented as digital assets on an open financial network. Naturally there will need to be a low-friction method of exchange on this new open financial system. I am confident that the 0x co-founders, Will and Amir, are able to execute on this vision given their technical expertise around smart contracts, research, and trading as well as their passion for the technology.</p>
                                            
                                            
                                            <p class ="boldText" style ="">Q: Having worked for both the most successful centralized exchange and a decentralized trading protocol, how do you see centralized and decentralized trading platforms co-exist in the future?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> I see trusted centralized platforms such as Coinbase and GDAX as the bridge between finance 1.0 and 2.0 providing the fiat rails to crypto. Institutional investors might be more attracted to centralized platforms because they offer high performance trading, advanced tools, and are legally accountable should any issues arise. Non-technical people might find it easier to use centralized exchanges because they don’t need to worry about storing their own private keys. </p>
                                            
                                            <p style="" >Decentralized exchanges are great for those that are more comfortable storing their own private keys and are necessary for trading assets that aren’t readily available on existing centralized exchanges. In addition, not everyone will have access to a centralized exchange but anyone with an internet connection can access a decentralized exchange.</p>
                                            
                                            <p class ="boldText" style ="">Q: What’s your view on the current ICO boom? Moreover, if this initial growth slows down — or put more bluntly, when the ICO bubble pops — which type of projects are the ones tho survive?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> I think the projects that survive will be the ones that have a clear need for a token. A key question to ask — if you were to replace the token with ether, would it operate in the exact same way? If so, then I don’t necessarily see the value in the token besides an easy funding mechanism. Of the countless projects selling tokens over the past year, I believe most will go to zero. Especially the pre-product teams that put a heavy emphasis on marketing. </p>
                                            
                                            <p class ="boldText" style ="">Q: Given the successful completion of the ZRX token sale both in terms of capital raised and wide distribution of holders, what best practices would you advise other projects to follow?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> I’d like to see projects raise only the amount of funds they need. Many projects set their fundraising target to maximize the amount of capital that the market will provide, but they won’t necessarily be able to responsibility allocate this capital. I do not support the notion that whales should be able to buy up a majority of the tokens, so I hope to see more projects include a process like 0x in creating a wide distribution. Only pick advisors that will truly add value to your project rather than as a way to gain credibility by association. Ideally the project has a working product before the token sale. For projects raising funds from US investors, they should work closely with a legal firm to minimize the risk that their token will be considered a security. Focus on building a strong community of token holders. This can be accomplished with little to no marketing. </p>
                                            
                                            <p style="" >There’s many other best practices to follow and I plan on co-publishing a more detailed post on this soon.</p>
                                            
                                            <p class ="boldText" style ="">Q: Other than 0x, what are interesting token projects that you follow?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> There are so many interesting projects. As I mentioned earlier, stable coins are critical to the crypto space so I’m paying close attention to projects working on this problem. I’m following prediction market platforms like Augur closely because I’m particularly interested in seeing how they may impact insurance markets and later on even governance models through futarchy (Editors note: yes, we had to google that as well)</p>
                                            
                                            
                                            
                                            <h2>Starting a fund</h2>
                                            
                                            <p style ="margin-top:0px; color:#662D91;font-weight:500;font-size:20px;padding:45px;text-align:center;font-style:italic">“For the past couple years I found myself spending all of my free time reading technical whitepapers”</p>
                                            
                                            <p class ="boldText" style ="">Q: You recently announced that you’re starting a crypto focused fund together with Jordan Clifford (ex-Coinbase). Why did you want to make this move and what will you focus on?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> For the past couple years I found myself spending all of my free time reading technical whitepapers and talking to other passionate people in the space. I am excited to fund and advise promising crypto projects full time. The focus will be giving our investors broad exposure to cryptocurrencies that we believe in long term. We will invest in everything from existing protocols to early stage projects, however, we won’t be actively trading as we believe our main value add will be picking out long term winners.</p>
                                            <p class ="boldText" style ="">Q: The outperformance of crypto as an asset class and the ICO / token hype have led to a large interest from institutional investors. As a result, dozens of new crypto focused funds have popped up in the past quarter. What do you think about this development, and what will be your fund’s competitive edge?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> Jordan and I have been involved in the crypto space since early on, we understand and believe in the technology and want to see it succeed for the right reasons. We’ve experienced the ups and downs; ultimately we see the path forward for the technology long term. In the current highly speculative environment we feel comfortable differentiating the truly innovative technologies from the projects that are attempting to take advantage of unsophisticated speculators. Jordan has one of the sharpest technical minds in the space, and he is able to dive deep into a codebase to find technical flaws and assess code quality.</p>
                                            
                                            
                                            
                                          <p class ="boldText" style ="">Q: We saw an investing mantra from Stanley Druckenmiller on your twitter last week. As you make the transition to the institutional investment side of crypto, what are the main challenges you face and who do you go to for advice?</p>
                                            
                                            
                                            <p style="" ><span class ="boldText">A:</span> While the markets are very volatile, we want LPs to be able to confidently ride out the ups and downs with us. Recently, I’ve been getting invaluable advice from some friends in the venture capital space since they have a similar challenge in getting others to see the long term vision in their investments. That’s the main challenge to overcome and the excitement for us: getting institutional investors to understand cryptocurrencies and be excited by the grand vision.</p>
                         
                                            
                                            <p style ="height:10px;width:100%;border-bottom:solid 1px"></p>
                                            
                                            <p style="font-style:italic" >Special thanks to <a href ="https://medium.com/@johnyi275" target ="_blank">John Yi</a> for the intro, and of course <a href ="https://medium.com/@linda.xie" target ="_blank">Linda Xie</a> for taking the time in answering our questions!</p>
                                            
                                             <p style="font-style:italic" >*Disclaimer: The TokenData team participated in the 0x token sale (general public, not presale)</p>
                                            
                                        </div>



                                    </div>
                           
                                    
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
        
                        
                        
                        
                    </div>
  
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT -->
        </div>
        
        <!-- END CONTAINER -->
        
        <!-- BEGIN FOOTER -->
        <div class="page-footer" style ="text-align:center">
            
           
            
            
            <div class="page-footer-inner container-fluid container-lf-space">
                
                <div class = "row">
                    <div class ="col-md-4 col-md-offset-4">
                        
                        
                      
                                                 
                        <h4 style ="margin-bottom:10px;color:#662D91">Sign up for Token Sales news and data</h4>
                                                
                                            
                        
                       
                        
                        
                        
                        
                        
                        
                                    <div class="form-inline margin-bottom-40" role="form" id ="emailSign">
                                        <div class="form-group form-md-line-input ">
                                            <div class="input-icon">
                                                <input type="email" class="form-control" placeholder="Email" id = "email">
                                                <div class="form-control-focus" style ="color:red"> </div>
                                                
                                                
                        
                                                
                                                
                                                <span class="help-block">Your email is 100% secure.</span>
                                                <i class="fa fa-envelope-o" id="emailIcon"></i>
                                            </div>
                                        </div>
                                      
                                         <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn">
                                        <span class="help-block" style ="display:none" id="joined">Thanks for joining!</span>
                                       <!-- <input type="button" class="btn" style ="background:#3498DB;color:white" id="email_btn">Join</input>-->
                                    </div>
                    
                    </div>
                
                </div>
                 
                
                           <div class="modal fade modalSpace" id="basic" tabindex="-1" role="basic" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px"> Sign-in</h2>
                    </div>
                    <div class="modal-body" style ="margin-top:20px">
                      <div class="form-inline margin-bottom-40" role="form">
                        <form action="/login" method="post" style="margin:0;padding:0;">
                          <div class="form-group form-md-line-input loginFlow">
                            <input name="email" type="email" class="form-control user" placeholder="Username" id = "username">
                            <input name="password" type="password" class="form-control pass" placeholder="Password" id = "password">
                          </div>
                          <input value="Log-in" type="submit" class="btn loginFlowButton" style ="background:#662D91;color:white" id="login">
                          <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                        </form>
                      </div>
                    </div>
                  </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <div class="modal fade modalSpace" id="basic1" tabindex="-1" role="basic1" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px">Create Account</h2>
                    </div>
                    <form action = "/signup" method ="post">
                      <div class="modal-body" style ="margin-top:20px">
                                <div class="form-inline margin-bottom-40" role="form">
                                    <div class="form-group form-md-line-input loginFlow">
                                            <input name = "email" type="email" class="form-control user" placeholder="email" id = "username">
                                            <input name = "password" type="password" class="form-control pass" placeholder="Password" id = "password">
                                    </div>
                                    <input value="Create Account" type="submit" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                                </div>
                        </div>
                    </form>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
                
                
                <p class="page-footer-copyright" style ="color:#0071BC">
              
              
                                 <a href="https://medium.com/@tokendata" data-original-title="rss" class="social-icon rss"> </a>
                   
                     
                                 <a href="https://twitter.com/tokendata" data-original-title="twitter" class="social-icon twitter"> </a>
                              
                        
                                <a href="https://www.reddit.com/r/ethtrader/" data-original-title="reddit" class="social-icon reddit"> </a>
                    
                   
                          
                </p>
                <img src = "../ethWallet.png" style ="margin-top:10px">
                <p style ="margin-top:10px;color:#d0d5dc">Support us with Eth! <br>0x8c2F1805F76cE8fA0297331fDAeD5d0dBa2E66F8</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Price data sourced from coinmarketcap.com</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Contact us at info@tokendata.io </p>
                <p><img src ="../tokenFooter.png" style ="width:auto;height:70px;margin-top:10px"></p>
            </div>
            <div class="go2top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN QUICK NAV -->
 
       
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                <!-- BEGIN PAGE LEVEL PLUGINS -->
 
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
                <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <script>
          $( "#create" ).click(function() {
                  $('#basic').modal('toggle');
                 $('#basic1').modal('toggle');
                 
                 
              
                   
            });
            $(document).ready(function()                  
            {
            
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
               $( "#email_btn" ).click(function() {
                   var data = $( "#email" ).val();

                  
                   $( "#email_btn" ).hide();
                   $( "#emailIcon" ).hide();
                   $( "#email" ).hide();
                   $( "#joined" ).show();

                  // console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            $( "#email_btn2" ).click(function() {
                   var data = $( "#email2" ).val();

                  
                   $( "#email_btn2" ).hide();
                   $( "#emailIcon2" ).hide();
                   $( "#email2" ).hide();
                   $( "#joined2" ).show();

                   //console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            });
        $( "#advanced" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#advanced" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
             $( "#token" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#token" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
              $( "#upcoming" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#upcoming" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
               $( "#blog" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#blog" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
                      
  
            

          




        </script>
        <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny1yd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
    </body>
</html>