<!DOCTYPE html>


<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Token Data</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
       
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout7/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="../favicon.ico" /> 
        <style>
            .dataTables_info{
                display:none;
            }
            tr:{
                border:none;
            }
            .widget-socials {
                min-height: 100px;
            }
            .table{
                font-size:!important 10px;
            }
            .form-control {
                color:!important #ecf0f1;
            }
            #sample_1_length{
               
            }
            .pagination:hover{
                color:!important red
            }
            
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background:none;
                border:none;
            }
        </style>
       
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101906654-1', 'auto');
          ga('send', 'pageview');
            ga('set', 'userId', {{USER_ID}});
        

    </script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9173598781940396",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("a6a89e1d-1927-467b-b4bb-805b86146348");
</script>
        <script type="text/javascript">
window.JacoRecorder.identify(userID, function callback(err){});
</script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("71939c2e8ef99a61e866ad9f029926ae");</script><!-- end Mixpanel -->
                	
<script type="text/javascript"> _linkedin_data_partner_id = "78812"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=78812&fmt=gif" /> </noscript>
    </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid" >
<div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:40px;z-index:1030;text-align:center;margin-left:0px;">
            
            
 
            
            <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 clearfix" style ="margin-top:8px;width:auto;">
                 
                <a target="_blank" href ="/analytics" style ="padding:1px;color:white;font-size:11px;text-decoration:none;">
                <span style ="color:#d0d5dc;padding-right:8px" id ="featured">New Feature </span>
                <span style ="width:100%;margin-top:0px;margin-left:-5px">Check out our analytics! Get all ICO media on one page.</span></a>
                   
            </div>
            
            
        </div>
        <!-- BEGIN HEADER -->
        <!--<div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:30px;z-index:1030;text-align:center;margin-left:0px">
            <div class ="col-md-offset-4 col-md-4" style ="margin-top:5px"><a target="_blank" href ="https://medium.com/blockchannel/introducing-tokendata-io-dcd26d9fbc1e" style ="padding:1px;color:white;font-size:12px">We've launched! Check out our weekly update here. </a></div>
        </div>-->
        <div class="page-header navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="clearfix">
                <!-- BEGIN BURGER TRIGGER -->
                <div class="burger-trigger">
                    <button class="menu-trigger">
                        <img src="../assets/layouts/layout7/img/m_toggler.png" alt=""> </button>
                    <div class="menu-overlay menu-overlay-bg-transparent">
                        <div class="menu-overlay-content">
                            <ul class="menu-overlay-nav text-uppercase">
                                <li>
                                    <a href="/">Token Sales</a>
                                </li>
                                <li>
                                    <a href="/advanced">Advanced Returns</a>
                                </li>
                                <li>
                                    <a href="/upcoming">Upcoming ICOs</a>
                                </li>
                                 <li>
                                    <a href="https://t.me/tokendata">Telegram Channel
                                        </a>
                                </li>
                                <li>
                                      <a href="/blog">Blog
                                        </a>
                                </li>
                                
                                <li>
                            {{{navList}}}
                              
                          </li>
                                
                               
                            </ul>
                        </div>
                    </div>
                    <div class="menu-bg-overlay">
                        <button class="menu-close">&times;</button>
                    </div>
                    <!-- the overlay element -->
                </div>
                <!-- END NAV TRIGGER -->
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="">
                        <img src="../token_data.png" alt="logo" class="logo-default" style ="width:auto;height:45px"/> 
                        
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN TOP NAVIGATION MENU -->

        <div class="top-menu">

                          <ul class="nav navbar-nav pull-right" style = "margin-top:23px;margin-right:20px">
                              <!-- BEGIN NOTIFICATION DROPDOWN -->
                              <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                              <li id = "searchBar" style ="margin-top:3px">
                              
                              </li>
                              <li id ="tableSize" style ="display:none">
                              
                              </li>
                              
                              
       
                              
                              
<!--
                              <li>
                                  
                              <div class="form-inline margin-bottom-40" role="form" id ="emailSign2" style ="display:none">
                                              <div class="form-group form-md-line-input ">
                                                  <div class="input-icon">
                                                      <input type="email" class="form-control" placeholder="Email" id = "email2">
                                                     <div class="form-control-focus" style ="color:red"> </div>

                                                      <i class="fa fa-envelope-o" id="emailIcon2"></i>
                                                  </div>
                                              </div>

                                               <input value="Join" type="button" class="btn" style ="background:#662D91;color:white;" id="email_btn2">




                              </div>

                               </li>
-->
                              <li style ="margin-left:10px">
                                  <input value="Sign-Up" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn3">
                                  <a href ="#email_btn" style ="display:none"></a>
                              </li>
                              <li>
                            
                              <!-- <span class="help-block" style ="display:none;float:left" id="joined2">Thanks for joining!</span>-->
                                 
                              {{{portfolio}}}


                              </li>
                              



                              <!-- END USER LOGIN DROPDOWN -->
                          </ul>
              </div>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container page-content-inner page-container-bg-solid">
            <!-- BEGIN BREADCRUMBS -->
            <!-- Remove "hide" class from "breadcrumbs hide" DIV and "margin-top-30" class from below "container-fluid container-lf-space margin-top-30" DIV in order to use the page breadcrumbs -->

            <!-- END BREADCRUMBS -->
            <!-- BEGIN CONTENT -->
            <div class="container-fluid container-lf-space margin-top-40">
                    <div class="row widget-row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            
                            <div class="portlet light portlet-fit">
                                     <div class="portlet-title">
                                    <div class="caption">
                                         <a href ="/" style ="text-decoration:none">
                                           <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;font-size:16px" id = "token">Token Sales</span>
                                        </a>
                                        
                                        <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                       
                                        
                                      
                                            
                                            <span class="caption-subject sbold uppercase" style ="color:#0071BC;margin-left:20px;" id ="">Advanced Returns</span>
                                           
                                      
                                        
                                        
                                         <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px;font-size:16px" class = "tab">
                                        
                                         <a href ="/upcoming" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="upcoming">ICO Calendar</span>
                                        </a>
                                        
                                                   <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        
                                        
                                    <a href ="/analytics" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="analytics">Analytics</span>
                                    </a>
                                        
                                     <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">



                                       <a href ="/neo" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="neo">NEO ICOs</span>
                                    </a>
                                    </div>
                                    <div class="actions">
                                       <!-- <div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <button id = "completed" type="button" class="btn btn-success">Completed</button>
                                            <button id ="active" type="button" class="btn btn-primary">Active</button>
                                            <button id ="planned" type="button" class="btn btn-info">Planned</button>
                                            <button id = "all" type="button" class="btn btn-danger">All</button>-->
                                          
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                  <div class="table-scrollable table-scrollable-borderless" style = "margin-top:0px !important">
                                      <table class="table table-light table-hover order-column" id="sample_1">
                                      </table>
                                  </div>
                              </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
        
                        
                        
                        
                    </div>
  
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT -->
        
        
        <!-- END CONTAINER -->
        
        <!-- BEGIN FOOTER -->
        <div class="page-footer" style ="text-align:center">
            
           
            
            
            <div class="page-footer-inner container-fluid container-lf-space">
                
                <div class = "row">
                    <div class ="col-md-4 col-md-offset-4">
                        
                        
                      
                                                 
                        <h4 style ="margin-bottom:10px;color:#662D91">Sign up for Token Sales news and data</h4>
                                                
                                            
                        
                       
                        
                        
                        
                        
                        
                        
                                    <div class="form-inline margin-bottom-40" role="form" id ="emailSign">
                                        <div class="form-group form-md-line-input ">
                                            <div class="input-icon">
                                                <input type="email" class="form-control" placeholder="Email" id = "email">
                                                <div class="form-control-focus" style ="color:red"> </div>
                                                
                                                
                        
                                                
                                                
                                                <span class="help-block">Your email is 100% secure.</span>
                                                <i class="fa fa-envelope-o" id="emailIcon"></i>
                                            </div>
                                        </div>
                                      
                                         <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn">
                                        <span class="help-block" style ="display:none" id="joined">Thanks for joining!</span>
                                       <!-- <input type="button" class="btn" style ="background:#3498DB;color:white" id="email_btn">Join</input>-->
                                    </div>
                    
                    </div>
                
                </div>
                 
                
                
                              <div class="modal fade modalSpace" id="basic" tabindex="-1" role="basic" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px"> Sign-in</h2>
                    </div>
                    <div class="modal-body" style ="margin-top:20px">
                      <div class="form-inline margin-bottom-40" role="form">
                        <form action="/login" method="post" style="margin:0;padding:0;">
                          <div class="form-group form-md-line-input loginFlow">
                            <input name="email" type="email" class="form-control user" placeholder="Username" id = "username">
                            <input name="password" type="password" class="form-control pass" placeholder="Password" id = "password">
                          </div>
                          <input value="Log-in" type="submit" class="btn loginFlowButton" style ="background:#662D91;color:white" id="login">
                          <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                        </form>
                      </div>
                    </div>
                  </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <div class="modal fade modalSpace" id="basic1" tabindex="-1" role="basic1" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px">Create Account</h2>
                    </div>
                    <form action = "/signup" method ="post">
                      <div class="modal-body" style ="margin-top:20px">
                                <div class="form-inline margin-bottom-40" role="form">
                                    <div class="form-group form-md-line-input loginFlow">
                                            <input name = "email" type="email" class="form-control user" placeholder="email" id = "username">
                                            <input name = "password" type="password" class="form-control pass" placeholder="Password" id = "password">
                                    </div>
                                    <input value="Create Account" type="submit" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                                </div>
                        </div>
                    </form>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
                
                <p class="page-footer-copyright" style ="color:#0071BC">
              
              
                                 <a href="https://medium.com/@tokendata" data-original-title="rss" class="social-icon rss"> </a>
                   
                     
                                 <a href="https://twitter.com/tokendata" data-original-title="twitter" class="social-icon twitter"> </a>
                              
                        
                                <a href="https://www.reddit.com/r/ethtrader/" data-original-title="reddit" class="social-icon reddit"> </a>
                          
                </p>
                 
                <img src = "../ethWallet.png" style ="margin-top:10px">
                <p style ="margin-top:10px;color:#d0d5dc">Support us with Eth! <br>0x8c2F1805F76cE8fA0297331fDAeD5d0dBa2E66F8</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Price data sourced from coinmarketcap.com</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Contact us at info@tokendata.io </p>
                <p><img src ="../tokenFooter.png" style ="width:auto;height:70px;margin-top:10px"></p>
            </div>
            <div class="go2top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN QUICK NAV -->
 
       
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                <!-- BEGIN PAGE LEVEL PLUGINS -->
 
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.3/js/dataTables.fixedHeader.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.dataTables.min.css">
        <script src="https://cdn.datatables.net/scroller/1.4.3/js/dataTables.scroller.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/1.4.3/css/scroller.dataTables.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/datetime-moment.js" type="text/javascript"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/absolute.js" type="text/javascript"></script>

        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/layouts/layout7/css/pages/scripts/components-select2.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <script>
                     $( "#create" ).click(function() {
                  $('#basic').modal('toggle');
                 $('#basic1').modal('toggle');
                 
                 
              
                   
            });
            $( "#token" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#token" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
             $( "#upcoming" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#upcoming" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });


          
         $( "#completed" ).click(function() {
              // $('.form-control.input-sm.input-small.input-inline').val('completed');
              table.search( "completed" ).draw();
                   
            });
             $( "#active" ).click(function() {
               table.search( "active" ).draw();
                   
            });
             $( "#planned" ).click(function() {
               table.search( "planned" ).draw();
                   
            });
             $( "#all" ).click(function() {
               table.search( "" ).draw();
                   
            });
       $( "#analytics" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#analytics" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
            $( "#neo" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#neo" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
            window.alert = function() {};
            var addPct = function(d, t, r) { return d + '%'; }
            var addMultiple = function(d, t, r) { 
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    return d + 'x'; 
                }
                return d;
            }
            var convertTime = function(d, t, r) { 
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    var date = new Date(d * 1000);
                    var month = date.getMonth() + 1;
                    if (month - 10 < 0) {
                        month = '0' + month;
                    }
                    var year = date.getFullYear();
                    return month + '/' + year;    
                }
                return d;
            }
            var scaleBTC = function(d, t, r) {
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    var btc_price = '{{btc_price}}';
                    btc_price = parseInt(btc_price);
                    return (btc_price / r.btc_sale_cmc).toFixed(2) + "x";
                } else {
                    var btc_price = '{{btc_price}}';
                    btc_price = parseInt(btc_price);
                    return (btc_price / r.btc_sale_cmc).toFixed(2);
                }
            }
            var scaleETH = function(d, t, r) {
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    var eth_price = '{{eth_price}}';
                    eth_price = parseInt(eth_price);
                    return (eth_price / r.eth_sale_cmc).toFixed(2) + "x";
                } else {
                    var eth_price = '{{eth_price}}';
                    eth_price = parseInt(eth_price);
                    return (eth_price / r.eth_sale_cmc).toFixed(2);
                }
            }
            var scaleGenericCoin = function(d, t, r) {
                if (d == undefined || r.current_token_price == '' || r.token_sale_price == '') {
                    return d;
                }
                var price = r.current_token_price;
                var sale_price = r.token_sale_price;
                if (sale_price == 0) { sale_price = 0.01; } 
                if ( t === 'display' ) {
                    return (price / sale_price).toFixed(2) + "x";
                } else {
                    return (price / sale_price);
                }   
            }
            var scaleTokenETHReturn = function(d, t, r) {
                if (d == undefined || r.current_token_price == '' || r.token_sale_price == '') {
                    return d;
                }
                var price = r.current_token_price;
                var sale_price = r.token_sale_price;
                var eth_price = '{{eth_price}}';
                    eth_price = parseInt(eth_price);
                var eth_return = eth_price / r.eth_sale_cmc;
                var token_return = price / sale_price;
                if (sale_price == 0) { sale_price = 0.01; } 
                if ( t === 'display' ) {
                    return (token_return / eth_return).toFixed(2) + "x";
                } else {
                    return (token_return / eth_return);
                }   
            }
            var scaleTokenBTCReturn = function(d, t, r) {
                if (d == undefined || r.current_token_price == '' || r.token_sale_price == '') {
                    return d;
                }
                var price = r.current_token_price;
                var sale_price = r.token_sale_price;
                var btc_price = '{{btc_price}}';
                    btc_price = parseInt(btc_price);
                var btc_return = btc_price / r.btc_sale_cmc;
                var token_return = price / sale_price;
                if (sale_price == 0) { sale_price = 0.01; } 
                if ( t === 'display' ) {
                    return (token_return / btc_return).toFixed(2) + "x";
                } else {
                    return (token_return / btc_return);
                }   
            }
            var formatDate = function(t) {
                var date = new Date(t * 1000);
                var month = date.getUTCMonth() + 1;
                var day = date.getUTCDate();
                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10 ) {
                    day = '0' + day;
                }
                var year = date.getUTCFullYear();
                return month + '/' + day + '/' + year;
            }
            var usdWithTooltip = function ( d, t, r ) {
                if (d == "" || d == undefined) { return d }
                else {
                    if ( t === 'display' || t === 'filter' ) {
                        if ( typeof d !== 'number' && typeof d !== 'string' ) {
                            return d;
                        }

                        var negative = d < 0 ? '-' : '';
                        var flo = parseFloat( d );

                        if ( isNaN( flo ) ) {
                            return d;
                        }

                        flo = flo.toFixed( 2 );
                        d = Math.abs( flo );
                        var tokens_sold = r.num_tokens_sold.toString().replace( /\B(?=(\d{3})+(?!\d))/g, ',');
                        var intPart = parseInt( d, 10 );
                        var floatPart = 2 ?
                            '.'+(d - intPart).toFixed( 2 ).substring( 2 ):
                            '';
                        var prefix = `<span class="ttip" data-toggle="tooltip" data-placement="bottom" title="# Tokens Sold: ${tokens_sold}">$`
                        var postfix = '</span>'
                        return negative + (prefix||'') +
                            intPart.toString().replace( /\B(?=(\d{3})+(?!\d))/g, ',') +
                            floatPart +
                            (postfix||'');
                    }
                    return d
                }
            }

            $(document).ready(function()                  
            {
               $( "#email_btn" ).click(function() {
                   var data = $( "#email" ).val();

                  
                   $( "#email_btn" ).hide();
                   $( "#emailIcon" ).hide();
                   $( "#email" ).hide();
                   $( "#joined" ).show();

                   console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            $( "#email_btn2" ).click(function() {
                   var data = $( "#email2" ).val();

                  
                   $( "#email_btn2" ).hide();
                   $( "#emailIcon2" ).hide();
                   $( "#email2" ).hide();
                   $( "#joined2" ).show();

                   console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            });

            $.fn.dataTable.moment('MMM YYYY');

            var nameType = $.fn.dataTable.absoluteOrder( {
                value: '', position: 'bottom'
            });

            var table = $('#sample_1').dataTable( {
                paging: true,
                pagingType: "simple",
                lengthMenu: [50, 100],
                searching: true,
                order: [[ 2, "desc" ]],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search...",
                    lengthMenu: "_MENU_"
                },
                ajax: '/icos/advanced',
                fixedHeader: true,
                scrollY: '65vh',
                scrollCollapse: true,
                deferRender: true,
                scroller: true,
                columnDefs: [{
                    type: nameType,
                    targets: [0,1,2,4,5,6,7]
                }],
                columns: [
                    { render: function(d, t, r) {
                        var path = '../assets/logos/' + r.name.toLowerCase() + '.png';
                        return `<a href="${r.website}" target="_blank"><img src="${path}" style="width:30px;height:30px"/></a>`;
                      },
                      orderable: false,
                      className: "dt-center"
                    },
                    { title: 'Name',
                      data: 'name',
                      render: function(d, t, r) {
                        if (d == "" || d == undefined || r.description == "" || r.description == "undefined" ) { return d }
                        else {
                            if (t === 'display' || t === 'filter') {
                                return `<span class="ttip" data-toggle="tooltip" data-placement="bottom" title="${r.description}">${d}</span>`
                            } else {
                                return d
                            }
                        }
                      },
                      className: "dt-center"
                    },
                    { title: 'USD Raised',
                      data: 'usd_raised',
                      render: usdWithTooltip,
                      className: "dt-center"
                    },
                    { title: 'Month',
                      data: 'month',
                      render: function(d, t, r) {
                        if (d == "" || d == undefined) { return d }
                        else {
                            if ( t === 'display' || t === 'filter' ) {
                                var sd = formatDate(r.start_date);
                                var ed = formatDate(r.end_date);
                                return `<span class="ttip" data-toggle="tooltip" data-placement="bottom" title="${sd} - ${ed}">${d}</span>`
                            } else {
                                return d
                            }
                        }
                      },
                      className: "dt-center"
                    },
                    { title: 'Token Sale Price',
                      data: 'token_sale_price',
                      render: $.fn.dataTable.render.number( ',', '.', 3, '$' ),
                      className: "dt-center"
                    },
                    { title: 'Current Token Price', 
                      data: 'current_token_price',
                      render: $.fn.dataTable.render.number( ',', '.', 3, '$' ),
                      className: "dt-center"
                    },
                    { title: 'Token Return', 
                      data: 'token_return',
                      render: scaleGenericCoin,
                      className: "dt-center"
                    },
                    { title: 'ETH Return', 
                      data: 'eth_sale_cmc',
                      render: scaleETH,
                      className: "dt-center"
                    },
                    { title: 'BTC Return', 
                      data: 'btc_sale_cmc',
                      render: scaleBTC,
                      className: "dt-center"
                    },
                    { title: 'Token / ETH Return', 
                      data: 'current_token_price',
                      render: scaleTokenETHReturn,
                      className: "dt-center"
                    },
                    { title: 'Token / BTC Return', 
                      data: 'current_token_price',
                      render: scaleTokenBTCReturn,
                      className: "dt-center"
                    },
                ],
                drawCallback: function( settings ) {
                    $('.ttip').tooltip();
                }
            } );
            var table = $('#sample_1').DataTable();
             $('div.dataTables_filter').appendTo('#searchBar')
          $('div.dataTables_length').appendTo('#tableSize')
            $('#sample_1 thead tr th').each( function() {
               
                if($(this).text() == "Token Return"){
   
                    $(this).wrapInner( '<span href="javascript:;" class="tooltips" data-placement="bottom" data-original-title="Current dollar value of $1 Investment at time of token sale"></span>' );
                    //this.setAttribute( 'title', "Current dollar value of $1 Investment at time of token sale");
                }
                if($(this).text() == "ETH Return"){
                     $(this).wrapInner( '<span href="javascript:;" class="tooltips" data-placement="bottom" data-original-title="Current dollar value of $1 Investment in ETH at time of token sale"></span>' );
           
                }
                if($(this).text() == "BTC Return"){
                    $(this).wrapInner( '<span href="javascript:;" class="tooltips" data-placement="bottom" data-original-title="Current dollar value of $1 Investment in BTC at time of token sale"></span>' );
           
                }
            });

          // var filter_header = table.table().header().firstChild.cloneNode(true)
          // table.table().header().appendChild(filter_header)

          // $('.dataTables_scroll thead tr:eq(1) th').each( function (i) {
          //     $(this).attr('class', 'dt-center');
          //     if (i == 0) {
          //       return;
          //     }
          //     var title = $('.dataTables_scroll thead tr:eq(0) th').eq( $(this).index() ).text();
          //     $(this).html('<input type="text" style="width:100%;border-radius:4px;border:1px solid LightGray;font-size:9pt;text-align:center" placeholder="Filter '+title+'" />' );
          // } ); 
        
          // // Apply the search
          // table.columns().every(function (index) {
          //     $('.dataTables_scroll thead tr:eq(1) th:eq(' + index + ') input').on('keyup change', function () {
          //         table.column($(this).parent().index() + ':visible')
          //             .search(this.value, true)
          //             .draw();
          //     });
          // });
            

        </script>
    <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny1yd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
    </body>
</html>