

<!DOCTYPE html>


<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Token Data</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
       
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout7/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.css" rel="stylesheet" type="text/css" />
        
        
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="../favicon.ico" /> 
        <style>
            .dataTables_info{
                display:none;
            }
            tr:{
                border:none;
            }
            .widget-socials {
                min-height: 100px;
            }
            .table{
                font-size:!important 10px;
            }
            .form-control {
                color:!important #ecf0f1;
            }
            #sample_1_length{
               
            }
            .pagination:hover{
                color:!important red
            }
            
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background:none;
                border:none;
            }
            .tokenRet{
                color:red
            }
            #advanced:hover{
                color:red
            }
       

      
        </style>
       
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-101906654-1', 'auto');
          ga('send', 'pageview');
            ga('set', 'userId', {{USER_ID}});
        

    </script>
        
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9173598781940396",
    enable_page_level_ads: true
  });
</script>
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("a6a89e1d-1927-467b-b4bb-805b86146348");
</script>
        <script type="text/javascript">
window.JacoRecorder.identify(userID, function callback(err){});
</script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("71939c2e8ef99a61e866ad9f029926ae");</script><!-- end Mixpanel -->
                	
<script type="text/javascript"> _linkedin_data_partner_id = "78812"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=78812&fmt=gif" /> </noscript>
    </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid" >
        
  <!--  <div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:40px;z-index:1030;text-align:center;margin-left:0px;">
            
            
 
            
            <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 clearfix" style ="margin-top:5px;width:auto;">
                 
        
               

                <a target="_blank" href ="https://www.etherparty.io/ico/" style ="padding:1px;color:white;font-size:11px;text-decoration:none;">
                <span style ="color:#d0d5dc">Featured </span>
                    
                <img src = '../ep2.png' style ="width:auto;height:31px;padding:1px;margin-top:-1px;margin-right:5px"> 
                    <span style ="width:auto;margin-top:0px;margin-left:-14px"><span style ="font-size:14px;font-weight:bold;">ETHERPARTY</span>&nbsp |&nbsp Create a Smart Contract in minutes rather than months. Join the Fuel ICO now!</span></a>
                   
             
                   
                   </div>
            
            
        </div>-->
        <!-- BEGIN HEADER -->
        <!--<div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:30px;z-index:1030;text-align:center;margin-left:0px">
            <div class ="col-md-offset-4 col-md-4" style ="margin-top:5px"><a target="_blank" href ="https://medium.com/blockchannel/introducing-tokendata-io-dcd26d9fbc1e" style ="padding:1px;color:white;font-size:12px">We've launched! Check out our weekly update here. </a></div>
        </div>-->
        <div class="page-header navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="clearfix">
                <!-- BEGIN BURGER TRIGGER -->
                <div class="burger-trigger">
                    <button class="menu-trigger">
                        <img src="../assets/layouts/layout7/img/m_toggler.png" alt=""> </button>
                    <div class="menu-overlay menu-overlay-bg-transparent">
                        <div class="menu-overlay-content">
                            <ul class="menu-overlay-nav text-uppercase">
                                <li>
                                    <a href="/">Token Sales</a>
                                </li>
                                <li>
                                    <a href="/advanced">Advanced Returns</a>
                                </li>
                                <li>
                                    <a href="/upcoming">Upcoming ICOs</a>
                                </li>
                                 <li>
                                    <a href="https://t.me/tokendata">Telegram Channel
                                        </a>
                                </li>
                                <li>
                                    <a href="/blog">Blog
                                        </a>
                                </li>
                                
                                <li>
                     {{{navList}}}
                              
                          </li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="menu-bg-overlay">
                        <button class="menu-close">&times;</button>
                    </div>
                    <!-- the overlay element -->
                </div>
                <!-- END NAV TRIGGER -->
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="">
                        <img src="../token_data.png" alt="logo" class="logo-default" style ="width:auto;height:45px"/> 
                        
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                    <div class="top-menu">
                            <ul class="nav navbar-nav pull-right" style = "margin-top:23px;margin-right:20px">
                                <!-- BEGIN NOTIFICATION DROPDOWN -->
                                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                                <li>
                                <div class="form-inline margin-bottom-40" role="form" id ="emailSign2">
                                                <div class="form-group form-md-line-input ">
                                                    <div class="input-icon">
                                                        <input type="email" class="form-control" placeholder="Email" id = "email2">
                                                       <div class="form-control-focus" style ="color:red"> </div>

                                                        <i class="fa fa-envelope-o" id="emailIcon2"></i>
                                                    </div>
                                                </div>

                                                 <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn2">


                                </div>

                                         </li>
                                <li>
                                 <span class="help-block" style ="display:none;float:left" id="joined2">Thanks for joining!</span>
                                  {{{portfolio}}}
                                </li>
                
                            </ul>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container page-content-inner page-container-bg-solid">

            <!-- BEGIN CONTENT -->
            <div class="container-fluid container-lf-space margin-top-30">
         

                    <div class="row widget-row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            
                            <div class="portlet light portlet-fit">
                                     <div class="portlet-title">
                                    <div class="caption">
                                        
                                        
                                        <a href ="/" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;font-size:16px" id ="token">Token Sales</span>

                                        </a>
                                        
                                        
                                        
                                        <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        <a href ="/advanced" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="advanced">Advanced Returns</span>
                                        </a>
                                        
                                        
                                        
                                         <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                       
                                             
                                              <a href ="/upcoming" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="upcoming">ICO Calendar</span>
                                        </a>
                                        
                                          <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                                        
                                        
                                        
                                    <a href ="/analytics" style ="text-decoration:none">
                                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="analytics">Analytics</span>
                                    </a>
                                          
                                        
                                    </div>
                                    <div class="actions">
                                        <!--<div class="btn-group btn-group-devided" data-toggle="buttons">
                                            <button id = "completed" type="button" class="btn btn-success">Completed</button>
                                            <button id ="active" type="button" class="btn btn-primary">Active</button>
                                            <button id ="planned" type="button" class="btn btn-info">Planned</button>
                                            <button id = "all" type="button" class="btn btn-danger">All</button>
                                          
                                        </div>-->
                                    </div>
                                </div>
                               <div class ="row" id = "blogIntro">
                                   <div class = "col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                         <h1>The ICO Rat Pack - Gambling Tokens</h1>
                                   </div>
                               
                                   
                                </div>
                                <div class="portlet-body blogBody">
                                    
                                    <div class ="row">

                                        <div class = "col-md-offset-3 col-md-6 col-sm-10 col-sm-offset-1 col-xs-12">
                                            <p id ="date">Monday, August 21st, 2017
                                            </p>
                                            <p style ="margin-top:-20px">We launched <a href ="https://www.tokendata.io/" target = "_blank">TokenData</a> a month ago. Since then we’ve added 200+ sales (525 total), 50 trading stats (105 total) and had one ICO team that launched an anti-TokenData campaign on <a href ="https://twitter.com/BitPopulous/status/896311516793901056" target = "_blank">Twitter</a> (cheers for boosting our social presence <a href ="https://medium.com/@BitPopulous" target = "_blank">Populous Platform</a>!). A sincere thanks to all who have checked out tokendata.io, signed up for our newsletter, and sent us constructive feedback. Much of our commentary & updates are predicated on the latter, so keep the suggestions comin’!</p>
                                            
                                            <h2>Decentralized Dutch Courage</h2>
                                            
                                            <p style ="margin-top:-10px">While we love talking about crypto more than playing FIFA (if only just), nothing makes us happier than free drinks and appetizers. So, a couple of weeks ago, when we were invited for a cryptocurrency happy-hour, we were quick to turn off our Slack notifications, crawl out of our basement office, and venture to a bar filled with both experienced and newly-minted cryptocurrency folks.</p>
                                            
                                            <img src ="../tokenSouth.png" class ="blogImage">
                                            <span class ="imageCaption">Close approximation of TD’s office (and if you’ve never seen this South Park episode, honestly, stop reading now and <a href="http://southpark.cc.com/full-episodes/s10e08-make-love-not-warcraft" target ="_blank">do yourself a favor…</a>)</span>
                                            
                                            <p style ="margin-top:15px" >Thirty minutes and some <a href ="http://lmgtfy.com/?q=dutch+courage" target = "_blank">Dutch courage</a> later, we middle-school danced our way over to a gaggle of crypto-lectuals. The topic of conversation: the merits of decentralization and ICOs to look out for. Yawwwwn. But — TD will be the first to admit — the majority of those in said discussion boast an IQ and private wallets at least 2x each of ours. And with all due respect to the discourse: is championing decentralization not prerequisite for admittance into such an affair?  </p>
                                            
                                            <p >We felt right at home expounding on protocol-upgrading tokens (<a href ="https://medium.com/@tezos" target = "_blank">Tezos</a>, <a href ="https://medium.com/@polkadotnetwork" target = "_blank">Polkadot</a>) and fundamental infrastructure projects (<a href ="https://medium.com/@protocollabs" target = "_blank">Filecoin</a>, <a href ="https://medium.com/@storjproject" target = "_blank">Storj</a>, <a href ="https://medium.com/@0xProject" target = "_blank">0x</a>), but things got decidedly more interesting as the group’s focus abstracted up a layer in the fledgling web stack to decentralized applications (dApps). When nudged to proffer which category of dApps most piqued our interest, we instinctively blurted out, “uhh…the gambling ones”. We kid you not ladies and germs — you could hear a Satoshi drop.  </p>
                                            
                                             <img src ="../oldPeople.png" class ="blogImage">
                                            <span class ="imageCaption">What do the Rat Pack/O.G. Ocean’s 11 and your average crypto meetup have in common? The inability to procreate among themselves.</span>
                                            
                                            <h2>The Good Ol’ Days?</h2>
                                            
                                            <p style ="margin-top:-10px">The crypto-community loves to draw analogues between the early days of the interwebz and the advent of tokens / ICOs. We think big, talk fast and hope that HODL’s latest surge is our defining Netscape moment. If you’ve had sweaty palms, and sleepless nights since ’08 — we feel you. Proclivity for analogues, has led crypto luminaries to parallel TCP/IP, SMTP to protocol tokens and to cite Netscape, Linux, Amazon as the predominant harbingers of web application innovation in the internet’s spring. These technologies decidedly propelled the industry forward — no denying that. But there were also other less palatable forces at work — revolutionary applications that are whitewashed from water cooler and higher-educational conversations alike.  </p>
                                            
                                            <p >What people often (choose to?) forget is that the early days of internet growth was also fueled by mankind’s most enduring and conspicuous foibles: <span class ="boldText">gambling and pornography</span>. Entertaining though it may be, we’ll leave it to those with more chutzpah and less shame to delve into the intricacies of the latter. Sadly, The Legend Rooms, Lusts and XPlays of the world, will have to wait. </p>
                                            
                                            
                                            
                                            <h2>“History doesn’t repeat itself, but often rhymes”</h2>
                                           
                                                <p style ="margin-top:-10px">Gambling sites made an early entrance as some of Web 1.0’s first applications. Back then, the World Wide Web was a relatively anonymous, decentralized and unregulated space. Sound familiar?</p>
                                            
                                             <p class ="boldText">To jog your memory:</p>
                                            
                                           
                                                <ul>
                                                  <li><span class ="boldText">Netscape</span> — provider of the first truly dominant browser — founded? <span class ="boldText">1994</span>.</li>
                                                  <li><span class ="boldText">Microgaming</span> — provider of the first real-money online casino — founded? You guessed it. <span class ="boldText">1994</span>.</li>
                                        
                                                </ul>
                                            
                                            <p>The advent of gambling dApps is oddly eerie in a time that most high profile ICOs are focused on the back-end of the decentralized internet stack. But there’s perhaps no more textbook case of history repeating itself. <span class ="boldText">Quintessential case in point:</span> <a href ="http://www.washingtonpost.com/wp-srv/national/longterm/intgambling/stories/oonline082597.htm" target = "_blank">Cyberspace Gambling</a>, a 1997 opinion piece published by The Washington Post. Honestly a few quick ‘find-and-replaces’ could have written this article for us — and gotten the point across about as well.</p>
                                            
                                                <p>Screw it — let’s take a shot on an excerpt…if just to prove a point <span class ="boldText">(n.b., our replacements in bold, below) </span></p>
                                            
                                                <p style ="font-style:italic"> Internet <span class = "boldText">(DApp gambling)</span>, by contrast [to casinos], might remain a private vice with no government money in it — if anything, it might suck money from the state-funded lotteries. And that raises the question of how far Americans think government should go in regulating people’s conduct in the privacy of their homes <span class ="boldText">(of the blockchain.)</span>
                                                </p>
                                            <p > This should rouse everyone, not just those involved with vicey ICOs. Why?Governors are rightfully concerned by the anonymity and decentralization that blockchain enables. Both reduce the ability to govern centrally, which is (allegedly) a governor’s primary function — it is right there in the job title, after all. But if there’s one thing governments like less than losing control, it’s losing the ability to take a slice of the pie. Other than the creation of a new “uncontrolled” and increasingly-accepted monetary unit (i.e., bitcoin) nothing screams more attention to this than the emergence of decentralized gambling platforms.
                                                </p>
                                            
                                            <ul>
                                                  <li><span class ="boldText">Decentralize identity verification?</span>  Fine, no biggie.</li>
                                                <li><span class ="boldText">Anonymous transactions?</span>  Been there, <a href ="https://medium.com/blockchannel/venezuelans-turns-to-zcash-ethereum-amidst-political-turmoil-5bf5db290295" target = "_blank">z-cashed </a>it.</li>
                                                <li><span class ="boldText">Erode Vegas’ profits, taxed & sanctioned online betting, and government-run lotteries?</span>  Oh sh*t, look out!</li>
                                        
                                                </ul>
                                            
                                             <h2>Gambling Boom: Not All Doom & Gloom</h2>
                                            
                                               <p style ="margin-top:-10px">Over the past 20 years, as centralization and government regulation took place, consolidation took ahold of the internet, not only have we seen centralization of power in data (Google, FB) and marketplaces (Uber, Airbnb), but exactly the same in of gambling operators (Betfair, Pokerstars).</p>
                                            
                                            <p >And, as much as we want to back the first decentralized Uber and Airbnb, gambling seems to be a patently simple, potent, and early use case for blockchain-based businesses:</p>
                                            
                                             <ul>
                                                  <li><span class ="boldText">Credit risk: </span>  That stack of $100k in golden chips at the Bellagio and the $500 on your Betfair account are nothing more than IOUs and subject to counterparty credit risk. Much of this risk disappears in tokenized gambling applications, in which the user has full control (assuming he/she doesn’t lose the private key, which is a completely different and important topic)</li>
                                                 
                                                  <li><span class ="boldText">Accountability:</span>  Before online gambling regulations, there was (and still is?) no good mechanism for the user to tell whether the game was fair or rigged. Enter open-sourced gambling dApps. Want to check the odds on a game? Get the coding geek on your fantasy football team to check a gambling dApp’s Github repo.</li>
                                                 
                                                 <li><span class ="boldText">Anonymity:</span>  Are you a WSOP poker player  <a href ="http://www.businessinsider.com/online-poker-playa-del-carmen-2014-7" target = "_blank">relocating to Mexico</a> because of whatever it is that you’re afraid off? Anonymous transactions on blockchain could be your virtual Cayman Islands / Panama / Switzerland / Lichtenstein / Monaco (and save you some coin on airfare).</li>
                                                 
                                                 <li><span class ="boldText">Regulation:</span>  Truly decentralized gambling application means that it’s everywhere and nowhere — how can a government regulate?</li>
                                        
                                                </ul>
                                            
                                            <p >The counterarguments are plentiful. For example — participants in dApp gambling apps still need to convert their tokens to fiat at some point in time if they want to splurge on that big night out at  <a href ="http://www.magiccity.com/" target = "_blank">Magic City</a> to celebrate their winnings. The regulatory bottleneck becomes the cryptocurrency trading platform of which the largest ones are still centralized companies subject to national / regional laws.</p>
                                            
                                             <img src ="../gamblingTable.png" class ="blogImage">
                                            <span class ="imageCaption">Money, money, money, money. Money.</span>
                                            
                                            <h2>The Data: 15 completed ICOs, USD 75M raised</h2>
                                            
                                               <p style ="margin-top:-10px">If we look at ‘pure’ betting & gambling ICOs — ICOs that specifically mention betting, gambling, casino — we count 14 successful ICOs that raised a combined total of USD 74M. The projects range from outright decentralized lotteries and casino games, to platforms that will help developers launch decentralized gambling applications.</p>
                                            
                                               <p style ="">If we include ICOs focused on prediction markets — an overlapping area — the number increases to 20 ICOs with a total of USD 126M raised. That’s still less than the $160M George Clooney & Co steal in the epic 2001 remake of the Rat Pack original, but still a hell of a lot more than any betting company has raised in “traditional” capital markets. And, by our count, there are still 13 gambling / betting related ICOs either active or planned in 2017.</p>
                                            
                                            <h2>Wrapping It Up</h2>
                                            
                                               <p style ="margin-top:-10px">Whether the pace at which decentralized gambling applications are raising funds is sustainable, whether regulatory institutions will find a way to curb these gambling ICOs, and whether the gambling projects listed are truly decentralized ventures remains to be seen. 
</p>
                                            
                                               <p>With that in mind, we want to extend another 1997 excerpt past gambling to drive home the broader implications of decentralization and blockchain technology (again, our replacements in bold, below)</p>
                                            
                                              <p style ="font-style:italic">Online gambling <span class ="boldText">(The ICO market)</span> is on the list of issues set to be examined by the president’s commission on gambling  <span class ="boldText">(decentralization)</span>. But that commission remains on a slow track, while the growth of the online gambling <span class ="boldText">(digital currency)</span> industry is, to say the least, brisk.
                                                </p>
                                            
                                             <p>Having said that — with the rate at which our current President’s commissions are disbanding, we may not have anything to worry about for quite some time…</p>
                                            
                                            <p>Cheers,</p>
                                            
                                            <p>The TokenData team</p>

                                        </div>



                                    </div>
                           
                                    
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
        
                        
                        
                        
                    </div>
  
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!-- END CONTENT -->
        </div>
        
        <!-- END CONTAINER -->
        
        <!-- BEGIN FOOTER -->
        <div class="page-footer" style ="text-align:center">
            
           
            
            
            <div class="page-footer-inner container-fluid container-lf-space">
                
                <div class = "row">
                    <div class ="col-md-4 col-md-offset-4">
                        
                        
                      
                                                 
                        <h4 style ="margin-bottom:10px;color:#662D91">Sign up for Token Sales news and data</h4>
                                                
                                            
                        
                       
                        
                        
                        
                        
                        
                        
                                    <div class="form-inline margin-bottom-40" role="form" id ="emailSign">
                                        <div class="form-group form-md-line-input ">
                                            <div class="input-icon">
                                                <input type="email" class="form-control" placeholder="Email" id = "email">
                                                <div class="form-control-focus" style ="color:red"> </div>
                                                
                                                
                        
                                                
                                                
                                                <span class="help-block">Your email is 100% secure.</span>
                                                <i class="fa fa-envelope-o" id="emailIcon"></i>
                                            </div>
                                        </div>
                                      
                                         <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn">
                                        <span class="help-block" style ="display:none" id="joined">Thanks for joining!</span>
                                       <!-- <input type="button" class="btn" style ="background:#3498DB;color:white" id="email_btn">Join</input>-->
                                    </div>
                    
                    </div>
                
                </div>
                 
                         <div class="modal fade modalSpace" id="basic" tabindex="-1" role="basic" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px"> Sign-in</h2>
                    </div>
                    <div class="modal-body" style ="margin-top:20px">
                      <div class="form-inline margin-bottom-40" role="form">
                        <form action="/login" method="post" style="margin:0;padding:0;">
                          <div class="form-group form-md-line-input loginFlow">
                            <input name="email" type="email" class="form-control user" placeholder="Username" id = "username">
                            <input name="password" type="password" class="form-control pass" placeholder="Password" id = "password">
                          </div>
                          <input value="Log-in" type="submit" class="btn loginFlowButton" style ="background:#662D91;color:white" id="login">
                          <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                        </form>
                      </div>
                    </div>
                  </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <div class="modal fade modalSpace" id="basic1" tabindex="-1" role="basic1" aria-hidden="true" >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <img src ="../token.png" style ="height:auto;width:60px;float:left">
                        <h2 class="modal-title" style ="padding:5px">Create Account</h2>
                    </div>
                    <form action = "/signup" method ="post">
                      <div class="modal-body" style ="margin-top:20px">
                                <div class="form-inline margin-bottom-40" role="form">
                                    <div class="form-group form-md-line-input loginFlow">
                                            <input name = "email" type="email" class="form-control user" placeholder="email" id = "username">
                                            <input name = "password" type="password" class="form-control pass" placeholder="Password" id = "password">
                                    </div>
                                    <input value="Create Account" type="submit" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">
                                </div>
                        </div>
                    </form>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
                
                
                
                <p class="page-footer-copyright" style ="color:#0071BC">
              
              
                                 <a href="https://medium.com/@tokendata" data-original-title="rss" class="social-icon rss"> </a>
                   
                     
                                 <a href="https://twitter.com/tokendata" data-original-title="twitter" class="social-icon twitter"> </a>
                              
                        
                                <a href="https://www.reddit.com/r/ethtrader/" data-original-title="reddit" class="social-icon reddit"> </a>
                    
                   
                          
                </p>
                <img src = "../ethWallet.png" style ="margin-top:10px">
                <p style ="margin-top:10px;color:#d0d5dc">Support us with Eth! <br>0x8c2F1805F76cE8fA0297331fDAeD5d0dBa2E66F8</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Price data sourced from coinmarketcap.com</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Contact us at info@tokendata.io </p>
                <p><img src ="../tokenFooter.png" style ="width:auto;height:70px;margin-top:10px"></p>
            </div>
            <div class="go2top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->

        <!-- BEGIN QUICK NAV -->
 
       
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                <!-- BEGIN PAGE LEVEL PLUGINS -->
 
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
                <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <script>
          $( "#create" ).click(function() {
                  $('#basic').modal('toggle');
                 $('#basic1').modal('toggle');
                 
                 
              
                   
            });
            $(document).ready(function()                  
            {
            
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
                
               $( "#email_btn" ).click(function() {
                   var data = $( "#email" ).val();

                  
                   $( "#email_btn" ).hide();
                   $( "#emailIcon" ).hide();
                   $( "#email" ).hide();
                   $( "#joined" ).show();

                  // console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            $( "#email_btn2" ).click(function() {
                   var data = $( "#email2" ).val();

                  
                   $( "#email_btn2" ).hide();
                   $( "#emailIcon2" ).hide();
                   $( "#email2" ).hide();
                   $( "#joined2" ).show();

                   //console.log(data);

                   $.post( "/email", { email : data }, function( data ) {
                      console.log('success!');

                    });
                   
                  
              
                });
            });
        $( "#advanced" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#advanced" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
             $( "#token" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#token" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
              $( "#upcoming" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#upcoming" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
            
               $( "#blog" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");
            
            });
            $( "#blog" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");
            
            });
                      
           /*$( "#gamblingBanner" ).mouseover(function() {
                $("#gamblingBanner").css("-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("-moz-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("-ms-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("-o-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("animation", "fadein 2s forwards");
                $(".blogCard h1").css("color", "white");*/
               
              /* $("#gamblingBanner").css("-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("-moz-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("-ms-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("-o-webkit-animation", "fadein 2s forwards");
                $("#gamblingBanner").css("animation", "fadein 2s forwards");*/
               

            
               
     
            
            $( "#gamblingBanner" ).mouseleave(function() {
                /*$(this).css("-webkit-animation", "fadeout 2s forwards");
                $(this).css("-moz-webkit-animation", "fadeout 2s forwards");
                $(this).css("-ms-webkit-animation", "fadeout 2s forwards");
                $(this).css("-o-webkit-animation", "fadeout 2s forwards");
                $(this).css("animation", "fadeout 2s forwards");*/
            
            });
            
            

          




        </script>
        <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny1yd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
    </body>
</html>