<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tables.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/datatables.js'></script>

    <!-- Bootstrap related -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- \-\-\-\-\-\-\-\- -->


    <!-- Graphs related js,css files -->
    <link rel='stylesheet' href='/stylesheets/jquery.dropdown.min.css' />
    <script src='/scripts/jquery.dropdown.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js'>
    </script>

    <!-- \-\-\-\-\-\-\-\- -->

</head>

<body>
    <h1 style="text-align:center">Price Comparison Charts</h1>
    <br><br>

    <form class="form-inline" action="/graphs/multiline" method="get">
        <div class="form-group">
            <label for="coin-dropdown">Select Coins:</label>
            <select name="selectpicker" class="selectpicker" id="coin-dropdown" multiple data-live-search="true"></select>
        </div>
        <button type="submit" class="btn btn-default">Compare</button>
    </form>



    <script>
        var coinDropDown = JSON.parse(decodeURI("{{coinDropDown}}"));
            var dropdown = $('#coin-dropdown');
            dropdown.empty();
            coinDropDown.data.forEach(function(coin){
                dropdown.append($('<option></option>').attr('value', coin.id).text(coin.name));
            
            });
    </script>

    <br><br>

    <h2>Price(y-axis) is in BTC </h2><br>
    <h3 style="text-align:center">To deselect a coin, click on it's legend</h3>

    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
            var data = JSON.parse(decodeURI("{{data}}"));
            var myChart = new Chart(ctx, {
                type: 'line',
                maintainAspectRatio: false,
                data: data,
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 20,
                                beginAtZero:true,
                                
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 20                   
                            }
                        }]
                    },
                     tooltips: {
                         intersect: false,
                        mode: 'nearest'
                    }
                }
            });
             myChart.generateLegend();
    </script>

</body>

</html>