<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tables.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/datatables.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js'> </script>
  </head>
  <body>
   
  <div class="chart-container" style="position: relative; height:40vh; width:80vw">
      <canvas id="myChart" ></canvas>
  </div>
  
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var data = JSON.parse(decodeURI("{{data}}"));
var myChart = new Chart(ctx, {
    type: 'bar',
    maintainAspectRatio: false,
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    fontSize: 20,
                    beginAtZero:true,
                    callback: function(value, index, values) {
                        return '$' + value/1000000 + 'M';
                    }
                }
            }],
            xAxes: [{
                ticks: {
                    fontSize: 20                   
                }
            }]
        },
         legendCallback: function(chart) {

                for (var i=0; i<chart.data.datasets[0].data.length; i++) {
                    chart.data.datasets[0].data[i]= Math.ceil(chart.data.datasets[0].data[i]/1000000);
                    
                }
            }
    }
});
 myChart.generateLegend();
</script>
    
    </body>
  
</html>
