<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tables.css' />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src='/scripts/jquery-3.2.1.min.js'></script>
    <script src='/scripts/datatables.js'/></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
