<!DOCTYPE html>


<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Token Data</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/mapplic/mapplic/mapplic.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-rounded.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="../assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/layout7/css/custom.css" rel="stylesheet" type="text/css" />

        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="../favicon.ico" />
        <style>
            .dataTables_info{
                display:none;
            }
            tr:{
                border:none;
            }
            .widget-socials {
                min-height: 100px;
            }
            .table{
                font-size:!important 10px;
            }
            .form-control {
                color:!important #ecf0f1;
            }
            #sample_1_length{

            }
            .pagination:hover{
                color:!important red
            }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background:none;
                border:none;
            }

        </style>
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-101906654-1', 'auto');
          ga('send', 'pageview');
          ga('set', 'userId', {{USER_ID}});
    </script>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9173598781940396",
        enable_page_level_ads: true
      });
    </script>
<script type="text/javascript">
(function(e,r){function n(e,r){e[r]=function(){e.push([r].concat(Array.prototype.slice.call(arguments,0)))}}function o(){var e=r.location.hostname.match(/[a-z0-9][a-z0-9\-]+\.[a-z\.]{2,6}$/i),n=e?e[0]:null,o="; domain=."+n+"; path=/; expires=" + new Date(new Date().setFullYear(new Date().getFullYear() + 1)).toUTCString();r.cookie=r.referrer&&-1===r.referrer.indexOf(n)?"jaco_referer="+r.referrer+o:"jaco_referer="+t+o}var a="JacoRecorder",t="none";!function(e,r,t,i){if(!t.__VERSION){e[a]=t;for(var c=["init","identify","startRecording","stopRecording","removeUserTracking","setUserInfo","trackEvent"],s=0;s<c.length;s++)n(t,c[s]);o(),t.__VERSION=2.1,t.__INIT_TIME=1*new Date;var f=r.createElement("script");f.async=!0,f.setAttribute("crossorigin","anonymous"),f.src=i;var d=r.getElementsByTagName("head")[0];d.appendChild(f)}}(e,r,e[a]||[],"https://recorder-assets.getjaco.com/recorder_v2.js")}).call(window,window,document);
window.JacoRecorder.init("a6a89e1d-1927-467b-b4bb-805b86146348");
</script>
        <script type="text/javascript">
window.JacoRecorder.identify(userID, function callback(err){});
</script>
        <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("71939c2e8ef99a61e866ad9f029926ae");</script><!-- end Mixpanel -->

<script type="text/javascript"> _linkedin_data_partner_id = "78812"; </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=78812&fmt=gif" /> </noscript>
    </head>
    <!-- END HEAD -->
    <body class="page-container-bg-solid" >
      <!-- BEGIN HEADER -->
<div class ="row" style="display:block;position:fixed;background-color:#662D91;width:100%;height:40px;z-index:1030;text-align:center;margin-left:0px;">
          
            <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 clearfix" style ="margin-top:8px;width:auto;">
                 
                <a target="_blank" href ="/analytics" style ="padding:1px;color:white;font-size:11px;text-decoration:none;">
                <span style ="color:#d0d5dc;padding-right:8px" id ="featured">New Feature </span>
                <span style ="width:100%;margin-top:0px;margin-left:-5px">Check out our analytics! Get all ICO media on one page.</span></a>
                   
            </div>

        </div>

        <div class="page-header navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="clearfix">
                <!-- BEGIN BURGER TRIGGER -->
                <div class="burger-trigger">
                    <button id="menu-trigger" class="menu-trigger">
                      <img src="../assets/layouts/layout7/img/m_toggler.png" alt=""> </button>
                    <div id="menu" class="menu-overlay menu-overlay-bg-transparent">
                      <div class="menu-overlay-content">
                        <ul class="menu-overlay-nav text-uppercase">
                          <li>
                              <a href="/">Token Sales</a>
                          </li>
                          <li>
                              <a href="/advanced">Advanced Returns</a>
                          </li>
                          <li>
                              <a href="/upcoming">Upcoming ICOs</a>
                          </li>
                           <li>
                              <a href="https://t.me/tokendata">Telegram Channel
                                  </a>
                          </li>

                          <li>
                             <a href="/blog">Blog
                                  </a>
                          </li>
                         <li>
                             {{{navList}}}
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="menu-close" class="menu-bg-overlay">
                        <button class="menu-close">&times;</button>
                    </div>
                    <!-- the overlay element -->
                </div>
                <!-- END NAV TRIGGER -->
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="">
                        <img src="../token_data.png" alt="logo" class="logo-default" style ="width:auto;height:45px;"/>
                    </a>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                  <ul class="nav navbar-nav pull-right" style = "margin-top:23px;margin-right:20px">
                      <!-- BEGIN NOTIFICATION DROPDOWN -->
                      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                      <li>
                        <div class="form-inline margin-bottom-40" role="form" id ="emailSign2">
                          <div class="form-group form-md-line-input ">
                              <div class="input-icon">
                                  <input type="email" class="form-control" placeholder="Email" id = "email2">
                                 <div class="form-control-focus" style ="color:red"> </div>

                                  <i class="fa fa-envelope-o" id="emailIcon2"></i>
                              </div>
                          </div>
                          <input value="Join" type="button" class="btn" style ="background:#662D91;color:white;" id="email_btn2">
                        </div>
                      </li>
                      <li>
                        <span class="help-block" style ="display:none;float:left" id="joined2">Thanks for joining!</span>
                        <input value="Sign Out" type="button" class="btn" style ="background:#0071bc;color:white;margin-left:10px;float:right" id="sign_out">


                      </li>
                      <!--<li><input value="My Portfolio" type="button" class="btn" style ="background:#0071bc;color:white;margin-left:5px" id="Sign In"></li>-->
                      <!-- END USER LOGIN DROPDOWN -->
                  </ul>
                </div>
            </div>
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container page-content-inner page-container-bg-solid">
            <!-- BEGIN BREADCRUMBS -->
            <!-- Remove "hide" class from "breadcrumbs hide" DIV and "margin-top-30" class from below "container-fluid container-lf-space margin-top-30" DIV in order to use the page breadcrumbs -->

            <!-- END BREADCRUMBS -->
            <!-- BEGIN CONTENT -->
            <div class="container-fluid container-lf-space margin-top-40">
              <div class="row widget-row">
                <div class="col-md-12">
                  <!-- BEGIN EXAMPLE TABLE PORTLET-->
                  <div class="portlet light portlet-fit">
                  <div class="portlet-title">
                  <div class="caption">
                    <a href ="/" style ="text-decoration:none">
                      <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;font-size:16px" id ="token">Token Sales</span>
                    </a>
                    <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                    <a href ="/advanced" style ="text-decoration:none">
                      <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="advanced">Advanced Returns</span>
                    </a>
                    <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                    <a href ="/upcoming" style ="text-decoration:none">
                      <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="upcoming">ICO Calendar</span>
                    </a>
                      <img src ="../tab.png" style = "height:auto;width:20px;margin-left:20px" class = "tab">
                    <a href ="/analytics" style ="text-decoration:none">
                        <span class="caption-subject sbold uppercase" style ="color:#d0d5dc;margin-left:20px;font-size:16px" id ="analytics">Analytics</span>
                    </a>
                  </div>
                </div>
                <div class ="row" style ="text-align:center">
                  <div class ="col-md-offset-3 col-md-6" style ="color:#0071bc">
                    <h1 id ="portfolioTitle">My Tokens </h1>
                  </div>
                </div>
                <div class ="row" id ="tokenPicker">
                  <div class ="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6" style ="color:#0071bc">
                    <div class="input-group select2-bootstrap-append">
                    <select id="single-append-text" class="form-control select2-allow-clear">
                      <option></option>
                      <optgroup label="" id ="portfolioDrop">
                      </optgroup>
                    </select>
                    <span class="input-group-btn">
                      <button id="add_portfolio" class="btn btn-default" type="button" style ="background:#662D91;color:white;border:none;height:34px" >
                        Add
                      </button>
                      <button id="delete_portfolio" class="btn btn-default" type="button" style ="background:#0071bc;color:white;border-color:#0071bc;border-top:none;border-bottom:none;border-right:none;height:34px" >
                        Delete
                      </button>
                    </span>
                  </div>
                </div>


                </div>
                  <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                      <table class="table table-light table-hover order-column" id="sample_1">
                      </table>
                    </div>
                  </div>
                </div>
              <!-- END EXAMPLE TABLE PORTLET-->
              </div>
            </div>
          <!-- END PAGE BASE CONTENT -->
          </div>
        <!-- END CONTENT -->
        </div>

        <!-- END CONTAINER -->

        <!-- BEGIN FOOTER -->
        <div class="page-footer" style ="text-align:center">
            <div class="page-footer-inner container-fluid container-lf-space">
                <div class = "row">
                    <div class ="col-md-4 col-md-offset-4">
                        <h4 style ="margin-bottom:10px;color:#662D91">Sign up for Token Sales news and data</h4>


                                    <div class="form-inline margin-bottom-40" role="form" id ="emailSign">
                                        <div class="form-group form-md-line-input ">
                                            <div class="input-icon">
                                                <input type="email" class="form-control" placeholder="Email" id = "email">
                                                <div class="form-control-focus" style ="color:red"> </div>





                                                <span class="help-block">Your email is 100% secure.</span>
                                                <i class="fa fa-envelope-o" id="emailIcon"></i>
                                            </div>
                                        </div>

                                         <input value="Join" type="button" class="btn" style ="background:#662D91;color:white" id="email_btn">
                                        <span class="help-block" style ="display:none" id="joined">Thanks for joining!</span>
                                       <!-- <input type="button" class="btn" style ="background:#3498DB;color:white" id="email_btn">Join</input>-->
                                    </div>

                    </div>

                </div>
                <div class="modal fade modalSpace" id="basic" tabindex="-1" role="basic" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <img src ="../token.png" style ="height:auto;width:60px;float:left">
                                                    <h2 class="modal-title" style ="padding:5px"> Sign-in</h2>
                                                </div>
                                                <div class="modal-body" style ="margin-top:20px">
                                                    <div class="form-inline margin-bottom-40" role="form">
                                                        <div class="form-group form-md-line-input loginFlow">

                                                                <input type="email" class="form-control user" placeholder="Username" id = "username">

                                                                <input type="password" class="form-control pass" placeholder="Password" id = "password">

                                                        </div>

                                                         <input value="Log-in" type="button" class="btn loginFlowButton" style ="background:#662D91;color:white" id="login">
                                                        <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">

                                                    </div>


                                            </div>

                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                <div class="modal fade modalSpace" id="basic1" tabindex="-1" role="basic1" aria-hidden="true" >
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                    <img src ="../token.png" style ="height:auto;width:60px;float:left">
                                                    <h2 class="modal-title" style ="padding:5px">Create Account</h2>
                                                </div>
                                          <div class="modal-body" style ="margin-top:20px">
                                                    <div class="form-inline margin-bottom-40" role="form">
                                                        <div class="form-group form-md-line-input loginFlow">

                                                                <input type="email" class="form-control user" placeholder="Username" id = "username">

                                                                <input type="password" class="form-control pass" placeholder="Password" id = "password">

                                                        </div>


                                                        <input value="Create Account" type="button" class="btn loginFlowButton" style ="background:#0071bc;color:white;margin-left:10px" id="create">

                                                    </div>


                                            </div>

                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>


                <p class="page-footer-copyright" style ="color:#0071BC">


                                  <a href="https://medium.com/@tokendata" data-original-title="rss" class="social-icon rss"> </a>

                                 <a href="https://twitter.com/tokendata" data-original-title="twitter" class="social-icon twitter"> </a>


                                <a href="https://www.reddit.com/r/ethtrader/" data-original-title="reddit" class="social-icon reddit"> </a>

                </p>

                <img src = "../ethWallet.png" style ="margin-top:10px">
                <p style ="margin-top:10px;color:#d0d5dc">Support us with Eth! <br>0x8c2F1805F76cE8fA0297331fDAeD5d0dBa2E66F8</p>
                 <p style ="margin-top:10px;color:#d0d5dc">Price data sourced from coinmarketcap.com</p>
                   <p style ="margin-top:10px;color:#d0d5dc">Contact us at info@tokendata.io </p>

                <p><img src ="../tokenFooter.png" style ="width:auto;height:70px;margin-top:10px"></p>
            </div>
            <div class="go2top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>

        <!-- END FOOTER -->

        <!-- BEGIN QUICK NAV -->


        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script>
<script src="../assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->







        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/hammer.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.easing.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/js/jquery.mousewheel.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/mapplic/mapplic/mapplic.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
                <!-- BEGIN PAGE LEVEL PLUGINS -->

        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

        <script src="../assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/layouts/layout7/css/pages/scripts/components-select2.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout7/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
             <script src="../assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

        <script>

        $(document).ready(function(){
          // get portfolio data
          $("#menu-trigger").click( function() {
            $("#menu").toggleClass("menu-overlay-show");
          });

          $("#menu-close").click( function() {
            $("#menu").toggleClass("menu-overlay-show");
          });

          var table = renderTable(get_tokens);
          attach_table_handlers();

          $( "#email_btn" ).click(function() {
            var data = $( "#email" ).val();
            $( "#email_btn" ).hide();
            $( "#emailIcon" ).hide();
            $( "#email" ).hide();
            $( "#joined" ).show();
            console.log(data);
            $.post( "/email", { email : data }, function( data ) {
              console.log('success!');
            });
          });

                $( "#sign_out" ).click(function() {
            var data = $( "#email" ).val();
            $( "#email_btn" ).hide();
            $( "#emailIcon" ).hide();
            $( "#email" ).hide();
            $( "#joined" ).show();
            console.log(data);
            $.get( "/logout", function( data ) {
              console.log('success!');
                document.location.href = "/";
            });
          });

          $( "#email_btn2" ).click(function() {
            var data = $( "#email2" ).val();
            $( "#email_btn2" ).hide();
            $( "#emailIcon2" ).hide();
            $( "#email2" ).hide();
            $( "#joined2" ).show();

            console.log(data);

            $.post( "/email", { email : data }, function( data ) {
              console.log('success!');
            });
          });

          $('#add_portfolio').on('click', function() {
            $.ajax({
              type: 'POST',
              url: '/users/add',
              // data in form of "xICO_NAME" -- substring(1) to drop the 'x'
              // we may want a better id for this shit later
              data: { ticker: $('#select2-single-append-text-container').text().substring(1) },
              success: function(data) {
                update_dataTable();
              }
            })
          });

          $('#delete_portfolio').on('click', function() {
            $.ajax({
              type: 'POST',
              url: '/users/delete',
              // data in form of "xICO_NAME" -- substring(1) to drop the 'x'
              // we may want a better id for this shit later
              data: { ticker: $('#select2-single-append-text-container').text().substring(1) },
              success: function(data) {
                update_dataTable();
              }
            });
          });
        });

        function get_tokens(data, callback, settings) {
          if (callback === undefined) {
            callback = data;
          }
          $.get("/users/data").then(function(data) {
            var token_list = data.tokens;
            $.ajax({
              url: "/icos/portfolio",
              data: {tokens:token_list},
              type: "post"
            }).done(function(docs) {
              callback(docs);
            });
          });
        }

        function renderTable(req) {
          $('#sample_1').dataTable( {
            paging: true,
            pagingType: "simple",
            lengthMenu: [50, 100],
            searching: true,
            order: [[ 3, "desc" ]],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search...",
                lengthMenu: "_MENU_",
                emptyTable: "Portfolio is empty."
            },
            ajax: req,
            columns: [
                {render: function(d, t, r) {
                        var path = '../assets/logos/' + r.name.toLowerCase() + '.png';
                        return `<a href="${r.website}" target="_blank"><img src="${path}" style="width:30px;height:30px"/></a>`;
                    },
                    orderable: false,
                    className: "dt-center"
                },
                { title: 'Name',
                  data: 'name',
                  render: function(d, t, r) {
                    if (d == "" || d == undefined || r.description == "" || r.description == "undefined" ) { return d }
                    else {
                        if (t === 'display' || t === 'filter') {
                            return `<span class="ttip" data-toggle="tooltip" data-placement="bottom" title="${r.description}">${d}</span>`
                        } else {
                            return d
                        }
                    }
                  },
                  className: "dt-center"
                },
                { title: 'Status',
                  data: 'status',
                  className: "dt-center",
                  render: function(d, t, r) {
                    if (d == "Completed") {
                        return '<span class="label label-sm" style ="color:#632e92;background:none;border:none;"> Completed </span>'
                    } else if (d == "Failed") {
                       return '<span class="label label-sm" style ="color:#e74c3c;background:none;border:none;"> Failed </span>'
                    } else if( d == "Planned"){
                       return '<span class="label label-sm" style ="color:#508edb;background:none;border:none;"> Planned </span>'

                    } else if( d == "Postponed"){
                        return '<span class="label label-sm label-warning"> Postponed </span>'
                    }
                      else if( d == "Active"){
                        return '<span class="label label-sm" style ="color: #337ab7;background:none;border:none;"> Active </span>'

                    }
                    return d
                  }
                },
                { title: 'USD Raised',
                  data: 'usd_raised',
                  render: $.fn.dataTable.render.number( ',', '.', 2, '$' ),
                  className: "dt-center"
                },
                { title: 'Month',
                  data: 'month',
                  render: function(d, t, r) {
                    if (d == "" || d == undefined) { return d }
                    else {
                        if ( t === 'display' || t === 'filter' ) {
                            var sd = formatDate(r.start_date);
                            var ed = formatDate(r.end_date);
                            return `<span class="ttip" data-toggle="tooltip" data-placement="bottom" title="${sd} - ${ed}">${d}</span>`
                        } else {
                            return d
                        }
                    }
                  },
                  className: "dt-center"
                },
                { title: 'Token Sale Price',
                  data: 'token_sale_price',
                  render: $.fn.dataTable.render.number( ',', '.', 3, '$' ),
                  className: "dt-center"
                },
                { title: 'Current Token Price',
                  data: 'current_token_price',
                  render: $.fn.dataTable.render.number( ',', '.', 3, '$' ),
                  className: "dt-center"
                },
                { title: 'Token Return',
                  data: 'token_return',
                  render: scaleGenericCoin,
                  className: "dt-center",

                }],
            drawCallback: function( settings ) {
                $('.ttip').tooltip();
            }
          });
        };

        function attach_table_handlers () {
          var table = $('#sample_1').DataTable();

           $( "#completed" ).click(function() {
            // $('.form-control.input-sm.input-small.input-inline').val('completed');
               console.log("ho");
            table.search( "completed" ).draw();

          });
           $( "#active" ).click(function() {
             table.search( "active" ).draw();

          });
           $( "#planned" ).click(function() {
             table.search( "planned" ).draw();

          });
           $( "#all" ).click(function() {
             table.search( "" ).draw();

          });

          $('#sample_1 thead tr th').each( function() {

              if($(this).text() == "Token Return"){

                  $(this).wrapInner( '<span href="javascript:;" class="tooltips" data-placement="bottom" data-original-title="Current dollar value of $1 Investment at time of token sale"></span>' );
                  //this.setAttribute( 'title', "Current dollar value of $1 Investment at time of token sale");
              }
              if($(this).text() == "ETH Return"){
                   $(this).wrapInner( '<span href="javascript:;" class="tooltips" data-placement="bottom" data-original-title="Current dollar value of $1 Investment in ETH at time of token sale"></span>' );

              }
              if($(this).text() == "BTC Return"){
                  $(this).wrapInner( '<span href="javascript:;" class="tooltips" data-placement="bottom" data-original-title="Current dollar value of $1 Investment in BTC at time of token sale"></span>' );

              }
          });
        }

        function update_dataTable() {
          var datatable = $('#sample_1').DataTable();
          get_tokens(function(data) {
            // newData must be an array
            console.log(data);
            var newData = data.data;
            datatable.clear();
            datatable.rows.add(newData);
            datatable.draw();
          });
        }
           $( "#delete_portfolio" ).mouseover(function() {
              $(this).css("background-color", "#127BC5");
          });

          $( "#delete_portfolio" ).mouseleave(function() {
            $(this).css("background-color", "#0071bc");
          });
               $( "#add_portfolio" ).mouseover(function() {
              $(this).css("background-color", "#6B3797");
          });

          $( "#add_portfolio" ).mouseleave(function() {
            $(this).css("background-color", "#662D91");
          });

          $( "#create" ).click(function() {
            $('#basic').modal('toggle');
            $('#basic1').modal('toggle');
          });

          $( "#advanced" ).mouseover(function() {
            $(this).css("color", "#AB5CFF");
          });

          $( "#advanced" ).mouseleave(function() {
              $(this).css("color", "#d0d5dc");
          });

          $( "#token" ).mouseover(function() {
              $(this).css("color", "#AB5CFF");
          });

          $( "#token" ).mouseleave(function() {
            $(this).css("color", "#d0d5dc");
          });
              $( "#upcoming" ).mouseover(function() {
                $(this).css("color", "#AB5CFF");

            });
            $( "#upcoming" ).mouseleave(function() {
                $(this).css("color", "#d0d5dc");

            });

                   $( "#analytics" ).mouseover(function() {
              $(this).css("color", "#AB5CFF");

          });
          $( "#analytics" ).mouseleave(function() {
              $(this).css("color", "#d0d5dc");

          });

            window.alert = function() {};
            var addPct = function(d, t, r) { return d + '%'; }
            var addMultiple = function(d, t, r) {
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    return d + 'x';
                }
                return d;
            }
            var convertTime = function(d, t, r) {
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    var date = new Date(d * 1000);
                    var month = date.getMonth() + 1;
                    if (month - 10 < 0) {
                        month = '0' + month;
                    }
                    var year = date.getFullYear();
                    return month + '/' + year;
                }
                return d;
            }
            var scaleBTC = function(d, t, r) {
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    var btc_price = '{{btc_price}}';
                    btc_price = parseInt(btc_price);
                    return (btc_price / r.btc_at_sale).toFixed(2) + "x";
                } else {
                    var btc_price = '{{btc_price}}';
                    btc_price = parseInt(btc_price);
                    return (btc_price / r.btc_at_sale).toFixed(2);
                }
            }
            var scaleETH = function(d, t, r) {
                if (d == '' || d == undefined) {
                    return d;
                }
                if ( t === 'display' || t === 'filter' ) {
                    var eth_price = '{{eth_price}}';
                    eth_price = parseInt(eth_price);
                    return (eth_price / r.eth_at_sale).toFixed(2) + "x";
                } else {
                    var eth_price = '{{eth_price}}';
                    eth_price = parseInt(eth_price);
                    return (eth_price / r.eth_at_sale).toFixed(2);
                }
            }
            var scaleGenericCoin = function(d, t, r) {
                if (d == undefined || r.current_token_price == '' || r.token_sale_price == '') {
                    return d;
                }
                var price = r.current_token_price;
                var sale_price = r.token_sale_price;
                if (sale_price == 0) { sale_price = 0.01; }
                if ( t === 'display' || t === 'filter' ) {
                    return (price / sale_price).toFixed(2) + "x";
                } else {
                    return (price / sale_price).toFixed(2);
                }
            }
            var formatDate = function(t) {
                var date = new Date(t * 1000);
                var month = date.getUTCMonth() + 1;
                var day = date.getUTCDate();
                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10 ) {
                    day = '0' + day;
                }
                var year = date.getUTCFullYear();
                return month + '/' + day + '/' + year;
            }



          $.get("/list/ticker", function(data, status){
            for (i = 0; i < data.data.length; i++) {
              $('#portfolioDrop').append( '<option>'+data.data[i].name+'</option>' );
            }
          });
        



        </script>

        <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','ny1yd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->
    </body>
</html>
