body {
	background: #f8f8f8 !important;
	margin: 0;
}

#root {
	width: 100% !important;
}

.DashboardHeader {
	height: 70px;
	width: 100%;
}

.DashboardHeader h1 {
	padding-left: 25px;
	font-family: "Dosis";
	color: #555;
	display: inline-block;
	float: left;
	margin: 0px;
}

.ToggleContainer {
	margin: 0px;
	display: inline-block;
	float: right;
}

.checkbox {
	float: right;
	display: inline-block;
	padding-right: 35px;
}

.checkbox+.checkbox {
	margin-top: 10px !important;
}

.container {
	width: 100% !important;
	margin: 0 !important;
    white-space: nowrap;
    min-height: 250px;
}

.DashboardSelectContainer {
    text-align: center;
    font-family: Dosis;
}

.DashboardSelectContainer h4 {
    color:#662D91
}

.DashboardFeeds {
	overflow-x: auto;
}

.FeedContainerDiv {
	display: inline-block;
}

.CoinSelect {
	margin: 0 auto;
	padding: 10px;
	width: 400px;
	font-family: Dosis;
}

@font-face {
	font-family: "Dosis";
	src: url("./fonts/Dosis-Regular.ttf");
}