.FeedContainer {
	margin: 5px 5px 20px 5px;
	/*width: calc(100%/6.5);*/
	vertical-align: top;
	height: 67vh;
	display: inline-flex;
	flex-direction: column;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    white-space: normal;
}

.FeedContent {
	display: flex;
	flex-grow: 1;
	word-wrap: break-word;
	height: 100%;
}

.FeedContent .Scrollable {
	overflow: auto;
	height: 100%;
}

.FeedHeader {
	font-family: "Dosis","Open Sans",sans-serif;
	text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.FeedHeader img {
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
	margin-bottom: 10px;
	margin-right: 15px;
}

.FeedHeader h2 {
	display: inline-block;
	font-size: 1.2em;
}
