.IFrameContainer iframe {
	display: flex;
	width: 100%;
	height: 100%;
}

.IFrameContainer iframe {
	border-style: none;
}

.IFrameContainer body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

.IFrameContainer {
	width: 100%;
}