.MessagesContainer {
	font: normal normal 14px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
	color: #292F33;
	font-size: 9pt;
	width: 100%;
    line-height: 1.5;
    letter-spacing: .5px;
    display: flex;
    flex-direction: column;
}

.MessagesContainer p {
	margin: 1px;
}

.MessageTimestamp {
	font-size: 7pt;
	color: #555;
}

.MessageContainer {
	margin: 10px;
}

.MessagesContainer a {
	color: #3b94d9;
}

.Messages {
	padding: 5px 20px 5px 5px;
}

.Linkify {
	flex: 1;
	overflow: hidden;
}

.ChannelSwitchContainer {
	background-color: white;
	min-height: 25px;
	text-align: center;
	border-bottom: solid 1px;
}

.ChannelSwitchContainer select, h4 {
	margin: 4px;
	padding: 0px;
	display: inline-block;
	vertical-align: middle;
}

.ChannelSwitchContainer h4 {
	font-size: 1em;
}

.ChannelSwitchContainer select {
	border-radius:4px;
	border:1px solid #AAAAAA;
	max-width: 135px;
}

.PinIcon {
	margin: 0px 0px 0px 15px;
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.PinTitle {
	display: block;
}

.PinCloseButton {
	margin: 0px;
	color: #3b94d9;
	cursor: pointer;
}