.RedditEmbed {
	width: 100%;
}

.User .reddit-link a {
	font-size: 9pt;
	text-decoration: none;
	color: #336699;
}

.User .reddit-link a[rel="nofollow"] {
	color: blue;
}

.md {
	font-size: small;
}

.User .md a[rel="nofollow"] {
	color: #336699;
}

.rembeddit {
	border: none;
}