<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<table id="coin_table" class="display order-column">
</table>
<script>
var addPct = function(d, t, r) { return d + '%'; }
var addDollarSign = function(d, t, r) { return '$' + d; }
var convertTime = function(d, t, r) { 
	var date = new Date(d * 1000);
  	var hours = date.getHours();
	var minutes = "0" + date.getMinutes();
	var seconds = "0" + date.getSeconds();
	var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
	return formattedTime
}

$('#coin_table').DataTable( {
    ajax: '/coins',
    order: [[ 1, "asc"]],
    columns: [
        { title: 'Name',
          data: 'name',
          className: "dt-left"
      	},
        { title: 'Rank',
          data: 'rank',
          className: "dt-left" 
      	},
        { title: 'Price (USD)',
          data: 'price_usd',
          render: addDollarSign,
          className: "dt-left" 
      	},
        { title: 'Δ 24h',
          data: 'percent_change_24h',
          render: addPct,
          className: "dt-left"
      	},
        { title: 'Δ 7d',
          data: 'percent_change_7d',
          render: addPct,
          className: "dt-left"
      	},
        { title: 'Updated', 
          data: 'last_updated',
          render: convertTime,
          className: "dt-left"
        }
    ]
} );
</script>